<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-color: #add8e6;">

    <%- include('nav'); -%>
    <!-- Service 4 - Bootstrap Brain Component -->
<section class="py-5 py-xl-8" style="background-color: #add8e6;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7">
          <h4 class="display-6 text-center text-dark fw-bold mt-4"> BOOKS FROM DINESH SAHAY</h4>
          <hr class="w-50 mx-auto mb-4 mb-xl-9 border-dark">

          <p class="fs-6 mb-4 text-dark text-center text-uppercase fw-semibold"><span class="text-danger fw-bold">Author, Dinesh Sahay</span> has penned <span class="text-dark fw-bold">16</span> books and <span class="text-dark fw-bold">3</span> audiobooks which are available on various links such as <span class="text-dark fw-bold"> Amazon, Google Play stores, Flipkart, and Kobo Rakuten </span> in all formats, Paperback, eBook/kindle, and some books in audio format. You will find all the books below with their related buying links and can buy his books.</p>
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5 border border-3 border-dark-subtle rounded">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32" fill-rule="evenodd"><path d="M28.312 28.26C25.003 30.7 20.208 32 16.08 32c-5.8 0-11.002-2.14-14.945-5.703-.3-.28-.032-.662.34-.444C5.73 28.33 11 29.82 16.426 29.82a29.73 29.73 0 0 0 11.406-2.332c.56-.238 1.03.367.48.773m1.376-1.575c-.42-.54-2.796-.255-3.86-.13-.325.04-.374-.243-.082-.446 1.9-1.33 4.994-.947 5.356-.5s-.094 3.56-1.87 5.044c-.273.228-.533.107-.4-.196.4-.996 1.294-3.23.87-3.772" fill="#f90"/><path d="M18.43 13.864c0 1.692.043 3.103-.812 4.605-.7 1.22-1.8 1.973-3.005 1.973-1.667 0-2.644-1.27-2.644-3.145 0-3.7 3.316-4.373 6.462-4.373v.94m4.38 10.584c-.287.257-.702.275-1.026.104-1.44-1.197-1.704-1.753-2.492-2.895-2.382 2.43-4.074 3.157-7.158 3.157-3.658 0-6.498-2.254-6.498-6.767 0-3.524 1.905-5.924 4.63-7.097 2.357-1.038 5.65-1.22 8.165-1.5V8.9c0-1.032.08-2.254-.53-3.145-.525-.8-1.54-1.13-2.437-1.13-1.655 0-3.127.85-3.487 2.608-.073.4-.36.776-.757.794L7 7.555c-.354-.08-.75-.366-.647-.9C7.328 1.54 11.945 0 16.074 0c2.113 0 4.874.562 6.54 2.162 2.113 1.973 1.912 4.605 1.912 7.47V16.4c0 2.034.843 2.925 1.637 4.025.275.4.336.86-.018 1.154a184.26 184.26 0 0 0-3.328 2.883l-.006-.012" fill="#221f1f"/><path d="M-29.65 355.868c-35 25.797-85.73 39.56-129.406 39.56-61.243 0-116.377-22.65-158.088-60.325-3.277-2.963-.34-7 3.592-4.693 45.014 26.2 100.673 41.947 158.166 41.947 38.775 0 81.43-8.022 120.65-24.67 5.925-2.517 10.88 3.88 5.086 8.18m14.55-16.647c-4.457-5.715-29.573-2.7-40.846-1.363-3.434.42-3.96-2.57-.865-4.72 20.003-14.078 52.827-10.015 56.655-5.296 3.828 4.745-.996 37.647-19.794 53.35-2.884 2.412-5.637 1.127-4.352-2.07 4.22-10.54 13.685-34.16 9.202-39.902" fill="#f90"/><path d="M-55.16 233.75v-13.685c0-2.07 1.573-3.46 3.46-3.46H9.57c1.966 0 3.54 1.416 3.54 3.46v11.72c-.026 1.966-1.678 4.536-4.614 8.6l-31.75 45.33c11.798-.288 24.25 1.468 34.947 7.498 2.412 1.363 3.067 3.356 3.25 5.322v14.603c0 1.992-2.202 4.326-4.5 3.12-18.85-9.884-43.887-10.96-64.73.105-2.124 1.154-4.352-1.154-4.352-3.146v-13.87c0-2.228.026-6.03 2.255-9.412l36.782-52.748h-32c-1.966 0-3.54-1.4-3.54-3.434m-223.495 85.385h-18.64c-1.783-.13-3.198-1.468-3.33-3.172V220.3c0-1.914 1.6-3.434 3.592-3.434h17.382c1.8.08 3.25 1.468 3.382 3.198v12.505h.34c4.536-12.086 13.056-17.723 24.54-17.723 11.666 0 18.955 5.637 24.198 17.723 4.5-12.086 14.76-17.723 25.745-17.723 7.813 0 16.36 3.225 21.576 10.46 5.9 8.05 4.693 19.74 4.693 29.992l-.026 60.377c0 1.914-1.6 3.46-3.592 3.46h-18.614c-1.86-.13-3.356-1.625-3.356-3.46v-50.703c0-4.037.367-14.105-.524-17.932-1.4-6.423-5.558-8.232-10.96-8.232-4.5 0-9.228 3.015-11.142 7.84s-1.73 12.9-1.73 18.326v50.703c0 1.914-1.6 3.46-3.592 3.46h-18.614c-1.888-.13-3.356-1.625-3.356-3.46l-.026-50.703c0-10.67 1.757-26.374-11.483-26.374-13.397 0-12.872 15.3-12.872 26.374v50.703c0 1.914-1.6 3.46-3.592 3.46m344.496-104.3c27.66 0 42.63 23.752 42.63 53.954 0 29.18-16.543 52.33-42.63 52.33-27.16 0-41.947-23.752-41.947-53.35 0-29.782 14.97-52.932 41.947-52.932m.157 19.532c-13.738 0-14.603 18.72-14.603 30.385 0 11.693-.184 36.65 14.445 36.65 14.445 0 15.127-20.135 15.127-32.404 0-8.075-.34-17.723-2.78-25.378-2.097-6.66-6.266-9.255-12.2-9.255m78.338 84.758H125.8c-1.86-.13-3.356-1.625-3.356-3.46l-.026-95.7c.157-1.757 1.704-3.12 3.592-3.12h17.277c1.625.08 2.962 1.18 3.33 2.674v14.63h.34c5.217-13.082 12.532-19.322 25.404-19.322 8.363 0 16.517 3.015 21.76 11.273 4.876 7.655 4.876 20.528 4.876 29.782v60.22c-.2 1.678-1.757 3.015-3.592 3.015h-18.693c-1.704-.13-3.12-1.4-3.303-3.015v-51.962c0-10.46 1.206-25.77-11.667-25.77-4.535 0-8.704 3.04-10.775 7.655-2.622 5.846-2.962 11.667-2.962 18.116v51.516c-.026 1.914-1.652 3.46-3.644 3.46m66.293-7.594c0-4.824 4.116-8.704 9.176-8.704s9.176 3.88 9.176 8.704c0 4.798-4.116 8.73-9.176 8.73s-9.176-3.933-9.176-8.73m197.5 7.63c-1.94-.08-3.46-1.573-3.46-3.46V220.04c.105-1.704 1.547-3.04 3.33-3.146h6.843c1.888 0 3.408 1.363 3.565 3.146v13.947c4.876-11.064 13.947-19.715 25.404-19.715h1.4c12.165 0 21.052 8.966 24.355 21.996 5.165-12.872 14.865-21.996 27.66-21.996h1.416c9.045 0 17.75 5.82 22.258 14.68 4.352 8.468 4.195 19.74 4.195 29.206l-.026 57.546c.026 1.835-1.468 3.33-3.33 3.46h-8.18c-1.783-.08-3.225-1.337-3.46-3v-58.018c0-6.843.34-14.105-2.438-20.344-2.83-6.37-8.258-10.356-14.078-10.644-6.502.315-12.48 5.06-16.36 11.457-5.034 8.258-4.85 15.704-4.85 25.352v52.25c-.236 1.573-1.625 2.805-3.33 2.936h-8.127c-1.94-.08-3.487-1.573-3.487-3.46l-.052-61.374c0-5.637-.34-12.27-2.936-17.33-3.015-5.768-8.416-9.543-14.078-9.83-5.873.34-11.798 4.824-15.3 10.04-4.536 6.66-5.4 14.9-5.4 23.36v55.134c0 1.835-1.494 3.33-3.356 3.46h-8.153M352 321.157c-26.453 0-38.303-26.977-38.303-53.954 0-28.367 13.92-52.932 40.557-52.932h1.416c25.902 0 38.8 26.164 38.8 53.142 0 28.576-14.288 53.745-41.082 53.745h-1.4m1.94-13.082c8.704-.288 15.573-5.7 19.636-14.68 3.644-8.075 4.352-17.33 4.352-26.2 0-9.648-1.05-19.715-5.584-27.973-4.064-7.2-11.037-11.798-18.43-12.06-8.232.288-15.6 5.873-19.296 14.472-3.33 7.446-4.352 17.33-4.352 25.56 0 9.255 1.206 19.95 5.034 28 3.723 7.63 10.88 12.584 18.64 12.872m-84.6-.422c11.876-.367 18.116-9.884 20.685-22.206.524-1.547 1.704-2.727 3.434-2.727l7.84-.026c1.86.08 3.565 1.494 3.408 3.225-3.618 21-16.28 35.235-34.318 35.235h-1.416c-26.27 0-37.595-26.374-37.595-53.142 0-26.558 11.483-53.745 37.752-53.745h1.416c18.247 0 31.25 14.052 34.082 35.052 0 1.573-1.468 2.936-3.198 3.12l-8.206-.105c-1.73-.236-2.858-1.704-3.12-3.356-1.966-11.72-8.704-21.052-19.925-21.42-17.854.577-22.94 22.546-22.94 39.456 0 16.28 4.247 40.06 22.1 40.636M-104 273.442c0 7.262.184 13.318-3.487 19.767-2.963 5.243-7.682 8.468-12.9 8.468-7.157 0-11.352-5.453-11.352-13.502 0-15.887 14.236-18.77 27.737-18.77v4.037m18.797 45.434c-1.232 1.1-3.015 1.18-4.404.446-6.187-5.14-7.315-7.524-10.696-12.427-10.225 10.434-17.487 13.554-30.726 13.554-15.704 0-27.895-9.674-27.895-29.048 0-15.127 8.18-25.43 19.872-30.464 10.12-4.457 24.25-5.243 35.052-6.476v-2.412c0-4.43.34-9.674-2.28-13.502-2.255-3.434-6.607-4.85-10.46-4.85-7.105 0-13.423 3.644-14.97 11.195-.315 1.678-1.547 3.33-3.25 3.408l-18.063-1.94c-1.52-.34-3.225-1.573-2.78-3.906 4.142-21.917 23.962-28.524 41.685-28.524 9.07 0 20.92 2.412 28.078 9.28 9.07 8.468 8.206 19.767 8.206 32.063v29.048c0 8.73 3.618 12.558 7.026 17.277 1.18 1.678 1.442 3.697-.08 4.955-3.8 3.172-10.565 9.07-14.288 12.374l-.026-.053m-263.164-45.432c0 7.262.183 13.318-3.487 19.767-2.963 5.243-7.655 8.468-12.9 8.468-7.157 0-11.326-5.453-11.326-13.502 0-15.887 14.236-18.77 27.7-18.77v4.037m18.797 45.434c-1.232 1.1-3.015 1.18-4.404.446-6.187-5.14-7.288-7.524-10.696-12.427-10.225 10.434-17.46 13.554-30.726 13.554-15.678 0-27.895-9.674-27.895-29.048 0-15.127 8.206-25.43 19.872-30.464 10.12-4.457 24.25-5.243 35.052-6.476v-2.412c0-4.43.34-9.674-2.255-13.502-2.28-3.434-6.633-4.85-10.46-4.85-7.105 0-13.45 3.644-14.996 11.195-.315 1.678-1.547 3.33-3.225 3.408l-18.1-1.94c-1.52-.34-3.198-1.573-2.78-3.906 4.168-21.917 23.962-28.524 41.685-28.524 9.07 0 20.92 2.412 28.078 9.28 9.07 8.468 8.206 19.767 8.206 32.063v29.048c0 8.73 3.618 12.558 7.026 17.277 1.206 1.678 1.468 3.697-.052 4.955-3.8 3.172-10.565 9.07-14.288 12.374l-.052-.053" fill="#221f1f"/></svg>
              <h4 class="mt-3">Amazon</h4>
              <p class="mb-4 text-secondary">Books listed on Amazon by Dinesh Sahay Author</p>
              <a href="https://www.amazon.in/s?k=books+by+dinesh+sahay&crid=1NQVCDCW4Z4YT&sprefix=books+by+dinesh+sahay%2Caps%2C246&ref=nb_sb_noss" class="fw-bold text-decoration-none link-primary">
                Click To Buy!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5 border border-3 border-dark-subtle rounded">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="134 307.5 120 60" width="120" height="60"><g transform="translate(-.454 -1.893)"><path d="M192.282 338.004c-2.302 0-4.174 1.748-4.174 4.162 0 2.4 1.872 4.162 4.174 4.162s4.174-1.76 4.174-4.162-1.87-4.162-4.174-4.162zm0 6.686c-1.256 0-2.352-1.047-2.352-2.524 0-1.502 1.083-2.524 2.352-2.524s2.352 1.022 2.352 2.524c-.012 1.477-1.096 2.524-2.352 2.524zm11.18-5.75h-.06c-.406-.492-1.194-.936-2.192-.936-2.08 0-4 1.835-4 4.174 0 2.327 1.908 4.15 4 4.15.997 0 1.785-.443 2.192-.948h.06v.603c0 1.588-.85 2.438-2.216 2.438-1.12 0-1.8-.8-2.093-1.477l-1.588.665c.456 1.108 1.674 2.462 3.694 2.462 2.142 0 3.952-1.256 3.952-4.334v-7.474h-1.736zm-2.093 5.75c-1.256 0-2.315-1.06-2.315-2.512 0-1.465 1.06-2.536 2.315-2.536 1.244 0 2.216 1.07 2.216 2.536s-.973 2.512-2.216 2.512zm-18.198-6.686c-2.302 0-4.174 1.748-4.174 4.162 0 2.4 1.87 4.162 4.174 4.162s4.174-1.76 4.174-4.162-1.87-4.162-4.174-4.162zm0 6.686c-1.256 0-2.352-1.047-2.352-2.524 0-1.502 1.083-2.524 2.352-2.524 1.256 0 2.352 1.022 2.352 2.524-.012 1.477-1.096 2.524-2.352 2.524zm-10.847-5.417v1.76h4.223c-.123.997-.456 1.724-.96 2.23-.616.616-1.576 1.293-3.263 1.293-2.598 0-4.63-2.093-4.63-4.7s2.032-4.7 4.63-4.7c1.404 0 2.426.554 3.2 1.256l1.244-1.244c-1.06-1-2.462-1.785-4.432-1.785-3.558 0-6.563 2.906-6.563 6.464s2.992 6.464 6.563 6.464c1.92 0 3.374-.628 4.506-1.8 1.17-1.17 1.527-2.807 1.527-4.125a5.85 5.85 0 0 0-.1-1.108zm44.325 1.4c-.345-.936-1.404-2.647-3.558-2.647-2.142 0-3.928 1.687-3.928 4.162 0 2.327 1.76 4.162 4.125 4.162 1.908 0 3.017-1.17 3.472-1.847l-1.416-.948c-.468.7-1.12 1.145-2.044 1.145s-1.588-.43-2.02-1.256l5.565-2.302zm-5.664 1.38c-.05-1.613 1.244-2.426 2.18-2.426.726 0 1.342.357 1.54.886zm-4.53 4.038h1.822v-12.226h-1.822zm18.764-12.226h-4.37v12.226h1.822v-4.63h2.55c2.02 0 4.014-1.465 4.014-3.805 0-2.327-1.995-3.792-4.014-3.792zm.05 5.873h-2.598v-4.186h2.598c1.367 0 2.142 1.133 2.142 2.093s-.776 2.093-2.142 2.093zm4.974 6.353h1.822v-12.226h-1.822zm6.304-8.102c-1.317 0-2.696.58-3.263 1.87l1.625.677c.345-.677.985-.9 1.662-.9.948 0 1.908.566 1.92 1.576v.123c-.332-.185-1.034-.468-1.908-.468-1.748 0-3.52.96-3.52 2.758 0 1.638 1.428 2.684 3.04 2.684 1.23 0 1.908-.554 2.327-1.194h.06v.948h1.76v-4.7c.012-2.167-1.613-3.386-3.706-3.386zm-.222 6.7c-.603 0-1.428-.295-1.428-1.034 0-.948 1.034-1.305 1.933-1.305.8 0 1.182.172 1.662.406a2.2 2.2 0 0 1-2.167 1.933zm10.355-6.44l-2.093 5.307h-.06l-2.167-5.307h-1.97l3.25 7.412-1.86 4.137h1.908l5.023-11.537h-2.032z" opacity=".54"/><g transform="matrix(.136286 0 0 .136286 121.89504 285.32483)"><linearGradient id="A" gradientUnits="userSpaceOnUse" x1="215.196" y1="319.454" x2="100.359" y2="434.291"><stop offset="0" stop-color="#00a0ff"/><stop offset=".007" stop-color="#00a1ff"/><stop offset=".26" stop-color="#00beff"/><stop offset=".512" stop-color="#00d2ff"/><stop offset=".76" stop-color="#00dfff"/><stop offset="1" stop-color="#00e3ff"/></linearGradient><path d="M137.5 311.5c-2 2.1-3.2 5.4-3.2 9.6v151.3c0 4.2 1.2 7.5 3.2 9.6l.5.5 84.8-84.8v-2L138 310.9z" fill="url(#A)"/><linearGradient id="B" gradientUnits="userSpaceOnUse" x1="297.578" y1="396.75" x2="132.007" y2="396.75"><stop offset="0" stop-color="#ffe000"/><stop offset=".409" stop-color="#ffbd00"/><stop offset=".775" stop-color="orange"/><stop offset="1" stop-color="#ff9c00"/></linearGradient><path d="M251 426l-28.2-28.3v-2l28.3-28.3.6.4 33.5 19c9.6 5.4 9.6 14.3 0 19.8l-33.5 19z" fill="url(#B)"/><linearGradient id="C" gradientUnits="userSpaceOnUse" x1="235.969" y1="412.481" x2="80.242" y2="568.208"><stop offset="0" stop-color="#ff3a44"/><stop offset="1" stop-color="#c31162"/></linearGradient><path d="M251.7 425.6l-28.9-28.9-85.3 85.3c3.1 3.3 8.4 3.8 14.2.4l100-56.8" fill="url(#C)"/><linearGradient id="D" gradientUnits="userSpaceOnUse" x1="116.02" y1="261.07" x2="185.559" y2="330.609"><stop offset="0" stop-color="#32a071"/><stop offset=".069" stop-color="#2da771"/><stop offset=".476" stop-color="#15cf74"/><stop offset=".801" stop-color="#06e775"/><stop offset="1" stop-color="#00f076"/></linearGradient><path d="M251.7 367.9l-100-56.8c-5.9-3.3-11.1-2.9-14.2.4l85.3 85.3z" fill="url(#D)"/><path d="M251 425l-99.3 56.4c-5.6 3.2-10.5 3-13.7.1l-.5.5.5.5c3.2 2.9 8.2 3.1 13.7-.1l100-56.8z" opacity=".2"/><path d="M137.5 481c-2-2.1-3.2-5.4-3.2-9.6v1c0 4.2 1.2 7.5 3.2 9.6l.5-.5zm147.6-75.4L251 425l.6.6 33.5-19c4.8-2.7 7.2-6.3 7.2-9.9-.4 3.3-2.8 6.4-7.2 8.9z" opacity=".12"/><path d="M151.7 312l133.4 75.8c4.3 2.5 6.8 5.6 7.2 8.9 0-3.6-2.4-7.2-7.2-9.9L151.7 311c-9.6-5.4-17.4-.9-17.4 10v1c0-10.9 7.8-15.4 17.4-10z" opacity=".25" fill="#fff"/></g></g></svg>
              <h4 class="mt-3">Google Play</h4>
              <p class="mb-4 text-secondary">eBooks on Google Play by Dinesh Sahay author</p>
              <a href="https://play.google.com/store/books/author?id=Dinesh+Sahay" class="fw-bold text-decoration-none link-primary">
                Click To Buy!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5 border border-3 border-dark-subtle rounded">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="60" viewBox="-1925.465 47.012 2683.286 707.398"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="400.91" y1="539.855" x2="400.91" y2="-47.91" gradientTransform="matrix(1 0 0 -1 .14 706.454)"><stop offset="0" stop-color="#f7e830"/><stop offset="1" stop-color="#fdcb06"/></linearGradient><path fill="url(#a)" stroke="#FCD109" stroke-width=".094" d="M757.3 169.6c-.3-1-.602-2-1-3-236.9.1-473.7 0-710.5.1-.6.7-1 1.4-1.1 2.3 0 183.7 0 367.299-.102 551 1.5 9.799 6.9 18.699 14.102 25.4.3.1 1 .197 1.3.299 3.7 3.898 9 5.801 14 7.6 3.7-.199 7.3 1.4 11 1h294c2.8-.1 5.698.4 8.398-.699.102-.398.2-1.1.3-1.5.102-.5.2-1.6.301-2.199 6.301-35.199 12.399-70.5 19.101-105.699l.6-4.5c-27.199-.102-54.5 0-81.699-.102-6.601-.199-13.399 0-20-.801-11.299-.5-22.699-.1-33.999-1.199-14 0-27.9-1.301-41.9-1.301-11-1.1-22.1-.699-33.2-1.199-7.198-.898-14.6-.5-21.898-.801-11.9-1.299-24-.398-35.9-1.699-12.6.102-25.2-1-37.8-1.301.1-.1.2-.5.2-.6 4.2.1 8.3-.199 12.5-.299 9.3-1.201 18.7-.4 28-1.701 9.7 0 19.3-1.299 29-1.299 8.6-1.201 17.3-.5 25.898-1.701 10.102 0 20-1.299 30.102-1.4 8.3-1.1 16.7-.5 25-1.6 9.7.1 19.3-1.4 29-1.299 9.5-1.102 19.198-.803 28.698-1.803-.898-3.697-1.6-7.398-2.398-11.1-.7-2.299-3.5-1.799-5.3-2.1-21.7-3.102-43.3-6.199-64.9-9.199 1.4-1.102 3.3-.602 4.9-.801 16.8-1.301 33.5-2.801 50.3-4 3.8-.199 7.5-.9 11.3-1-1.7-5.199-2.7-10.9-5-15.699-35.898-5.5-71.8-10.4-107.6-16.301 9.3-1.5 18.7-2.199 28-3.199l.8-.301c29.7-3.102 59.5-6.602 89.2-9.5 37.698-.199 75.3-.102 113 0 1.198-.199 3.3.398 3.5-1.301 3.1-16.199 6.1-32.398 9.198-48.6 4.3-22.498 11.1-44.699 21.6-65.199 16.5-33 42.6-61 74.398-79.599 29.7-17.4 64.102-25.8 98.302-27.4 11.1-1 22.3-.7 33.3.7 7.2 1.7 14.6 3.7 20.3 8.6 4.7 3.8 7.5 9.4 9.6 15 4.602 13.3 7.2 27.1 9.4 41 .1 5.6 1.1 11.9-1.9 17-2.8 5-8.398 7.4-13.699 8.9-19.301 5-39.5.299-58.801 5-15.898 3.4-30.699 12.199-40.8 24.9-11.899 14.799-18.2 33.197-21.7 51.6-2.699 16.4-6.1 32.799-8.8 49.299 19 .102 38.101-.1 57.2.102 7.6 0 15.4 4.199 18.5 11.398 4 9.201 3.1 19.602 1.8 29.301-1.6 10.9-4.2 21.699-9.1 31.699-4.102 8.5-10.9 16.301-20.2 19.301-4.8 1.9-10 1.5-15.1 1.5-16.802 0-33.602.199-50.4 0-2.7 12.301-4.5 24.9-6.9 37.4-4.398 24.299-8.699 48.699-13.1 73.1-.1.801-.2 2.5-.2 3.4 7.9.4 15.8 0 23.7.199 58.6 0 117.3-.102 176 0 6.3.201 12.7-1.299 18.2-4.4 3.3-1.199 5.3-4.1 8.2-5.699 2.8-1.6 3.6-4.898 6-7 2.6-4.6 5.3-9.398 5.5-14.801.3 0 1.1-.1 1.5-.199C757.198 537.6 757.5 353.6 757.3 169.6z"/><path fill="#F8F3B5" stroke="#F8F3B5" stroke-width=".094" d="M137.9 48.6c8.5-2.7 17.4-.9 26.102-1.5 163.3.1 326.6 0 489.898 0 9.7-.4 18.2 5.1 27.2 7.9 7.2 2.9 14.7 5.2 21.9 8.3 1.5.6 2.6 1.9 3.698 3-.1 13.2 0 26.5 0 39.8.102 3.5-.5 7.1.7 10.5 2.102.3 3.2 1.9 4.602 3.2 6.6 3 12.198 7.9 18.198 11.9 9 6.4 18.602 12 27.4 18.6.399 2.6.1 5.3-.7 7.7-.898 2.8-.3 5.8-.6 8.6-236.9.1-473.7 0-710.5.1-.5-3.3.4-6.6-1-9.7-.2-2.6-1.1-6 1.4-7.8 10-7 20.6-13.3 30.398-20.7 6.102-3.9 12-7.9 17.9-11.9 1.2-2 .8-4.5.8-6.7 0-14.5 0-29 .1-43.5 3.4-4.4 9.302-4.9 14-7.1 9.504-3.6 19.104-7.1 28.504-10.7m.6 1.7c-12.8 4.9-25.7 9.6-38.5 14.5-1.7.3-2.602 1.8-3.5 3.1.1.8.2 2.2.2 3-.102 12 0 24-.102 36 .102 3-.3 6 .8 8.7-1.3 1.3-2.698 2.6-4.3 3.6-14.5 9.4-28.5 19.6-43 28.9-2.5 1.5-5.3 3.5-4.5 6.8-.5 1.8.4 3.3 2.3 2.8 31.4-.2 62.7.2 94.102-.3 46.7 0 93.3.1 140 0l.7-.3c2.1.5 4.198.3 6.398.3 84.6 0 169.2.1 253.899 0 26.601.1 53.301 0 80 0 44 0 88.101.4 132.101.2 1.3-.3 1.7-1.2 1.2-2.8-.102-1.6.5-3.8-1.2-4.8-7-3.3-13-8.4-19.7-12.4-2.398-2-5.5-3.1-7.3-5.8-6.9-3.9-13.3-8.7-20.101-13-1.301-.8-2.301-2.1-3.399-3.2.6-2.1.8-4.4.8-6.6-.1-12.7 0-25.4-.1-38.1.3-2 .199-4.3-1.602-5.6-12-4.3-23.898-8.9-35.8-13.3-3.7-1.8-7.8-2.8-11.8-3.4h-511.1c-2.196.1-4.296 1.2-6.496 1.7z"/><path fill="#F7B402" stroke="#F7B402" stroke-width=".094" d="M96.7 70.9c8.8 3.7 18.198 5.8 27.1 9.4 4.8 1.9 6.3 7.1 8.4 11.3-2.102 2.1-4.602 3.8-7.102 5.4-9.2 6.2-18.6 12.2-27.7 18.6-1.1-2.7-.698-5.7-.8-8.7.102-12 .002-24 .102-36zM678.198 80.3c8.9-3.5 18.2-5.9 27.102-9.4.1 12.7 0 25.4.1 38.1 0 2.2-.2 4.5-.8 6.6-7.8-5.4-15.7-10.5-23.5-15.8-3.8-2.8-8-4.9-11.4-8.3 2.1-4.2 3.7-9.3 8.498-11.2z"/><path fill="#BDA727" stroke="#BDA727" stroke-width=".094" d="M249.3 84.4c11-2.6 23.3 7.2 22.4 18.7.1 11.3-11.802 20.5-22.7 17.9-4.4-1.5-8.602-3.8-11.3-7.7-3.5-5.3-4.302-12.4-1.5-18.2 2-5.6 7.4-9.4 13.1-10.7zM534.6 90.7c4.6-5.1 11.9-8 18.7-6.2 5.1 1.5 10.1 4.8 12.3 9.8 4.4 8.6 1 20.2-7.6 24.7-7.602 4.2-17.2 2.2-23-3.9-5.9-6.7-6.302-17.7-.4-24.4z"/><path fill="#F7E62D" stroke="#F7E62D" stroke-width=".094" d="M125.1 97c2.5-1.6 5-3.3 7.102-5.4l.698.7c.7 5.2.2 10.5.4 15.7-.3 15.6.3 31.3-.4 46.9-29.1 0-58.198-.2-87.3 0-.8-3.3 2-5.3 4.5-6.8 14.5-9.3 28.5-19.5 43-28.9 1.602-1 3-2.3 4.3-3.6 9.1-6.4 18.5-12.4 27.7-18.6zM668.698 95c0-1.3.302-2.4 1-3.5 3.4 3.4 7.602 5.5 11.4 8.3 7.8 5.3 15.7 10.4 23.5 15.8 1.1 1.1 2.1 2.4 3.399 3.2 6.801 4.3 13.199 9.1 20.101 13 1.8 2.7 4.899 3.8 7.3 5.8 6.7 4 12.7 9.1 19.7 12.4 1.7 1 1.1 3.2 1.2 4.8-29.102.1-58.102-.1-87.2.1-.5-4-.2-8-.3-11.9.002-16-.198-32-.1-48z"/><radialGradient id="b" cx="397.845" cy="271.776" r="478.08" gradientTransform="matrix(1 0 0 -1 .14 706.454)" gradientUnits="userSpaceOnUse"><stop offset=".596" stop-color="#f29405"/><stop offset=".736" stop-color="#f7d01e"/><stop offset="1" stop-color="#fdcb06"/></radialGradient><path fill="url(#b)" stroke="#FCD109" stroke-width=".094" d="M756.3 154.8c-29.102.1-58.102-.1-87.2.1-.5-4-.2-8-.3-11.9 0-16-.2-32-.102-48 0-1.3.302-2.4 1-3.5 2.102-4.2 3.7-9.3 8.5-11.2 8.9-3.5 18.2-5.9 27.102-9.4.3-2 .2-4.3-1.602-5.6-12-4.3-23.898-8.9-35.8-13.3-3.7-1.8-7.8-2.8-11.8-3.4h-511.1c-2.2.1-4.3 1.2-6.5 1.7-12.8 4.9-25.7 9.6-38.5 14.5-1.7.3-2.602 1.8-3.5 3.1.1.8.2 2.2.2 3 8.8 3.7 18.198 5.8 27.1 9.4 4.8 1.9 6.3 7.1 8.4 11.3l.698.7c.7 5.2.2 10.5.4 15.7-.3 15.6.3 31.3-.4 46.9-29.1 0-58.198-.2-87.3 0-.5 1.8.4 3.3 2.3 2.8 31.4-.2 62.7.2 94.102-.3 46.7 0 93.3.1 140 0l.7-.3c2.1.5 4.198.3 6.398.3 84.6 0 169.2.1 253.899 0 26.601.1 53.301 0 80 0 44 0 88.101.4 132.101.2 1.304-.3 1.704-1.2 1.204-2.8zM236.2 95.1c2-5.6 7.398-9.4 13.1-10.7 11-2.6 23.3 7.2 22.4 18.7.1 11.3-11.802 20.5-22.7 17.9-4.4-1.5-8.602-3.8-11.3-7.7-3.5-5.3-4.3-12.4-1.5-18.2zm298.4-4.4c4.6-5.1 11.9-8 18.7-6.2 5.1 1.5 10.1 4.8 12.3 9.8 4.4 8.6 1 20.2-7.6 24.7-7.602 4.2-17.2 2.2-23-3.9-5.9-6.7-6.302-17.7-.4-24.4z"/><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="564.459" y1="518.642" x2="564.626" y2="490.809" gradientTransform="matrix(1 0 0 -1 .14 706.454)"><stop offset="0" stop-color="#fada1c"/><stop offset="1" stop-color="#fdcb06"/></linearGradient><path fill="url(#c)" stroke="#FCD109" stroke-width=".094" d="M560.088 198.746c1.398.3-7.288-8.346-5.588-8.746 1.6.2 7.666-4.509 15-.667 7.332 3.842 5.514 12.833 4.682 16.167-.99 3.968-3.516 6.5-5.516 8.5-1.1.9-3.566 2.3-5.066 2.2.9-4.9-2-5.7-2.2-10.7l-1.312-6.754z"/><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="2320.231" y1="519.975" x2="2320.398" y2="492.142" gradientTransform="rotate(180 1278.723 353.227)"><stop offset="0" stop-color="#fada1c"/><stop offset="1" stop-color="#fdcb06"/></linearGradient><path fill="url(#d)" stroke="#FCD109" stroke-width=".094" d="M240.416 204.167c-.2 5-3.102 5.8-2.2 10.7-1.5.1-3.968-1.3-5.067-2.2-2-2-4.523-4.532-5.515-8.5-.832-3.333-2.651-12.324 4.682-16.167s13.4.866 15 .667c1.7.4-6.986 9.046-5.588 8.746l-1.312 6.754z"/><path fill="#BDA727" stroke="#BDA727" stroke-width=".094" d="M546.996 262.806c1.504-1.306 2.504-1.306 4.504-1.306-12 26-26 52-47.049 72.243a70.571 70.571 0 0 1-7.119 5.578c-2.41 1.763-4.772 3.417-7.121 5.102-2.3 1.597-4.586 3.203-6.812 4.878-5.7 3.1-10.7 7.401-17 9.3-11.5 5.5-23.898 9.2-36.398 11.8-4.9.801-9.9 2-14.9 2.1-6.2 1.801-12.8.5-19.1.9-3.5.6-6.602-1.4-10-1-2.95-.417-5.893-.917-8.818-1.501a144.087 144.087 0 0 1-8.841-2.099C322.5 354.5 277.5 319.5 264.39 272.165a53.171 53.171 0 0 1-.89-9.665c1.399 2.8 2.85 5.58 4.351 8.334C286.5 311.5 323.5 343.5 367.212 353.149c3.548 1.618 7.388 1.051 10.789 2.451 3.1 0 6.1-.1 9.1.9 10.3.199 20.6.1 30.9.1 1.398.1 2.698-.6 4.1-.9 17.166-.582 33.986-5.264 49.647-12.364 3.134-1.42 6.22-2.937 9.253-4.537a101.766 101.766 0 0 0 7.768-4.538 104.621 104.621 0 0 0 7.217-5.096C514.5 314.5 530.5 295.5 541.365 273.651c2.068-3.932 3.96-7.573 5.631-10.845z"/><path fill="#0D69B3" stroke="#0D69B3" stroke-width=".094" d="M530.698 351.7c29.7-17.4 64.102-25.8 98.302-27.4 11.1-1 22.3-.7 33.3.7 7.2 1.7 14.6 3.7 20.3 8.6-2.9.2-5.7-1.1-8.6-1.5-8.2-1.6-16.7-1-25-1.2-24.102 0-48.4 1.9-71.7 8.5-12.2 3.7-24.4 8-35.5 14.4-19.2 10.6-36.5 24.6-50.5 41.4-25 28.701-39.7 65.1-46.8 102.201-3.4 19.898-7.302 39.697-10.4 59.697-5 .5-10.1.201-15.1.201-22-.1-44-.201-66-.398-4.7.197-9.302-.9-14-.602-40 .199-80-.1-120-.1l.8-.301c29.7-3.102 59.5-6.602 89.2-9.5 37.698-.199 75.3-.102 113 0 1.198-.199 3.3.398 3.5-1.301 3.1-16.199 6.1-32.398 9.198-48.6C439 474 445.8 451.799 456.3 431.299c16.5-33 42.6-61 74.398-79.599z"/><path fill="#107BD4" stroke="#107BD4" stroke-width=".094" d="M577.3 339.4c23.3-6.6 47.6-8.5 71.7-8.5 8.3.2 16.8-.4 25 1.2 2.898.4 5.698 1.7 8.6 1.5 4.7 3.8 7.5 9.4 9.6 15 4.602 13.3 7.2 27.1 9.4 41 .1 5.6 1.1 11.9-1.9 17-2.8 5-8.398 7.4-13.699 8.9-19.301 5-39.5.299-58.801 5-15.898 3.4-30.699 12.199-40.8 24.9-11.899 14.799-18.2 33.197-21.7 51.6-2.699 16.4-6.1 32.799-8.8 49.299-1.2 3.701-1.899 7.701-2.6 11.602 18.898.301 37.8 0 56.7.199 7.198-.199 14.398.199 21.6-.301 4 9.201 3.1 19.602 1.8 29.301-1.6 10.9-4.2 21.699-9.1 31.699-4.102 8.5-10.9 16.301-20.2 19.301-4.8 1.9-10 1.5-15.1 1.5-16.802 0-33.602.199-50.4 0-2.7 12.301-4.5 24.9-6.9 37.4-4.398 24.299-8.699 48.699-13.1 73.1-.1.801-.2 2.5-.2 3.4v.1c-43.7 0-87.3.102-131 0 .101-.398.2-1.1.3-1.5.102-.5.2-1.6.301-2.199.101.801.199 2.301.301 3 2.699.301 7.6 1.699 8.3-2.199 6.8-36.801 13.1-73.801 20.1-110.602-2.699-.6-5.5-.6-8.3-.1-.398 1.4-.8 2.799-1.3 4.199l.6-4.5c-27.198-.102-54.5 0-81.698-.102-6.602-.197-13.4 0-20-.799-11.3-.5-22.7-.1-34-1.201-14 0-27.9-1.299-41.9-1.299-11-1.1-22.1-.701-33.2-1.201-7.198-.898-14.6-.5-21.898-.799-11.9-1.301-24-.398-35.9-1.701-12.6.102-25.2-1-37.8-1.299.1-.1.2-.5.2-.6 4.2.1 8.3-.201 12.5-.301 9.3-1.199 18.7-.4 28-1.699 9.7 0 19.3-1.301 29-1.301 8.6-1.199 17.3-.5 25.898-1.699 10.102 0 20-1.301 30.102-1.4 8.3-1.1 16.7-.5 25-1.6 9.7.1 19.3-1.4 29-1.301 9.5-1.102 19.198-.801 28.698-1.801-.898-3.699-1.6-7.398-2.398-11.1-.7-2.301-3.5-1.801-5.3-2.1-21.7-3.102-43.3-6.201-64.9-9.201 1.4-1.102 3.3-.602 4.9-.799 16.8-1.303 33.5-2.803 50.3-4 3.8-.201 7.5-.9 11.3-1-1.7-5.201-2.7-10.9-5-15.701-35.898-5.5-71.8-10.4-107.6-16.299 9.3-1.5 18.7-2.201 28-3.201 40 0 80 .301 120 .1 4.698-.299 9.3.801 14 .602 22 .199 44 .301 66 .398 5 0 10.1.301 15.1-.199 3.1-20 7-39.801 10.4-59.699 7.1-37.102 21.8-73.5 46.8-102.199 14-16.801 31.3-30.801 50.5-41.401C552.9 347.4 565.1 343.1 577.3 339.4z"/><path fill="#0D69B3" stroke="#0D69B3" stroke-width=".094" d="M555.9 546.299c19 .102 38.102-.1 57.2.102 7.6 0 15.4 4.199 18.5 11.398-7.2.5-14.4.102-21.6.301-18.9-.199-37.802.102-56.7-.199.7-3.901 1.398-7.901 2.6-11.602zM408.4 640c2.8-.5 5.602-.5 8.3.1-7 36.801-13.3 73.801-20.1 110.602-.7 3.898-5.601 2.5-8.3 2.199-.102-.699-.2-2.199-.3-3 6.3-35.199 12.398-70.5 19.1-105.699.5-1.403.9-2.801 1.3-4.202z"/><path fill="#FFF" stroke="#FFF" stroke-width=".094" d="M564.646 201.546c-.8-1.5-.899-3.3-.899-5l-.801.1c-1.199-4.4-4.898-8.6-9.699-8.8-3.601-.3-8.101-.2-10.199 3.2-4 5.4-2.102 12.3-2.301 18.4 0 .4.101 1.1.101 1.5 0 4.1-.5 8.1-1.2 12.1-.6 1.2-.899 2.5-.899 3.9-1.699 9.4-5.101 18.7-9.699 27.2-.9 1.2-1.602 2.5-1.9 3.9-3 5.2-6.6 10-10.3 14.8-.601.5-1.101 1.1-1.601 1.7-2.601 3.2-5.399 5.9-8.301 8.7-.699.4-1.199.9-1.8 1.3-3.399 3.3-7.2 6.4-11.3 8.9-.5.3-1 .7-1.601 1.1-25.601 16.9-56.699 23.9-87 24.2-25.699.8-51.601-4.7-74.801-15.8-.398-.2-1.398-.6-1.8-.8-3.899-2.1-7.899-3.9-11.5-6.5-.8-.4-1.6-.9-2.5-1.3-3.7-2.2-7.2-4.6-10.5-7.4-1.1-1-2.3-1.8-3.5-2.7-3.6-2.9-7.3-6-10.398-9.5-.8-.9-1.602-1.7-2.4-2.5-10.898-11.3-19.398-25.1-23.898-40.1-4.302-11.9-3.7-24.9-4.2-37.4-3.602-5.5-11.2-8.6-17.2-5.2-2.5 1.8-2.8 5.1-4.7 7.4-3.1 33 11 65.9 33.5 89.7 0 .8.4 1.3 1.102 1.6 4 3.7 7.898 7.5 11.898 11.1.7.7 1.5 1.4 2.4 2 4 3.3 8.3 6.3 12.5 9.4.8.6 1.6 1.1 2.5 1.6 5.5 3.2 10.698 7 16.6 9.2.4.3 1.1.8 1.5 1 19 9.1 39.5 15.3 60.5 17.3 2.3 0 4.6.2 6.9.7 10 .6 20 .3 30 .1 30.898-2.7 62.8-10.2 88.6-28.4l.3.4c.8-.7 1.5-1.3 2.3-1.9 4.102-3 8.102-6.2 12.102-9.5.898-.7 1.898-1.5 2.8-2.4 4.399-4.8 9.5-9.2 13.2-14.7l.6.3c.3-.5.8-1.5 1.102-2 3.398-4.6 6.5-9.4 9.5-14.2.198-.3.698-.8.898-1.1l-.398-.4c.3-.4 1-1.2 1.3-1.6 5.5-11.2 10.398-22.9 12.1-35.3.7-.3 1.101-.9 1.101-1.6.101-4 1.5-7.8 1.101-11.8.889-4.9.99-9.9.79-14.9z"/><defs><path id="e" d="M564.646 201.546c-.8-1.5-.899-3.3-.899-5l-.801.1c-1.199-4.4-4.898-8.6-9.699-8.8-3.601-.3-8.101-.2-10.199 3.2-4 5.4-2.102 12.3-2.301 18.4 0 .4.101 1.1.101 1.5 0 4.1-.5 8.1-1.2 12.1-.6 1.2-.899 2.5-.899 3.9-1.699 9.4-5.101 18.7-9.699 27.2-.9 1.2-1.602 2.5-1.9 3.9-3 5.2-6.6 10-10.3 14.8-.601.5-1.101 1.1-1.601 1.7-2.601 3.2-5.399 5.9-8.301 8.7-.699.4-1.199.9-1.8 1.3-3.399 3.3-7.2 6.4-11.3 8.9-.5.3-1 .7-1.601 1.1-25.601 16.9-56.699 23.9-87 24.2-25.699.8-51.601-4.7-74.801-15.8-.398-.2-1.398-.6-1.8-.8-3.899-2.1-7.899-3.9-11.5-6.5-.8-.4-1.6-.9-2.5-1.3-3.7-2.2-7.2-4.6-10.5-7.4-1.1-1-2.3-1.8-3.5-2.7-3.6-2.9-7.3-6-10.398-9.5-.8-.9-1.602-1.7-2.4-2.5-10.898-11.3-19.398-25.1-23.898-40.1-4.302-11.9-3.7-24.9-4.2-37.4-3.602-5.5-11.2-8.6-17.2-5.2-2.5 1.8-2.8 5.1-4.7 7.4-3.1 33 11 65.9 33.5 89.7 0 .8.4 1.3 1.102 1.6 4 3.7 7.898 7.5 11.898 11.1.7.7 1.5 1.4 2.4 2 4 3.3 8.3 6.3 12.5 9.4.8.6 1.6 1.1 2.5 1.6 5.5 3.2 10.698 7 16.6 9.2.4.3 1.1.8 1.5 1 19 9.1 39.5 15.3 60.5 17.3 2.3 0 4.6.2 6.9.7 10 .6 20 .3 30 .1 30.898-2.7 62.8-10.2 88.6-28.4l.3.4c.8-.7 1.5-1.3 2.3-1.9 4.102-3 8.102-6.2 12.102-9.5.898-.7 1.898-1.5 2.8-2.4 4.399-4.8 9.5-9.2 13.2-14.7l.6.3c.3-.5.8-1.5 1.102-2 3.398-4.6 6.5-9.4 9.5-14.2.198-.3.698-.8.898-1.1l-.398-.4c.3-.4 1-1.2 1.3-1.6 5.5-11.2 10.398-22.9 12.1-35.3.7-.3 1.101-.9 1.101-1.6.101-4 1.5-7.8 1.101-11.8.889-4.9.99-9.9.79-14.9z"/></defs><clipPath id="f"><use xlink:href="#e" overflow="visible"/></clipPath><g clip-path="url(#f)" fill="none" stroke="#D1D1D1" stroke-width="2"><path d="M230.167 198.168c8.106 2.543 26.729-3.855 32 2M234.834 222.834c7.768-2.703 24.425-9.103 31.333-5.333M242.834 247.501c3.755 1.216 11.157-5.381 14.834-7.314 5.47-2.877 11.082-5.082 17.166-6.019M254.834 273.501c3.873-5.504 8.509-10.075 14.104-13.985 5.546-3.874 20.718-14.225 27.229-10.682M266.167 292.168c4.396-3.495 6.186-9.677 10.802-13.349 5.584-4.442 14.139-5.239 19.865-7.985M285 306c1.315-9.668 11.132-21.335 20.5-20.5M299.5 319.501c4.95-.496 9.138-11.576 12.485-15.331 5.016-5.625 10.212-7.355 16.847-9.336M328.166 331.501c-.32-6.996 6.909-27.055 15.334-26M349.5 338.168c-.351-8.268 3.924-33.137 14-34M371.5 351.501c-1.911-11.562-1.787-28.288 7.332-36.667M398.834 354.168c-1.017-9.638-10.594-29.121 0-36.667M428.166 347.501c-4.572-5.301-7.23-26.211-5.334-32M456.166 342.834c-3.526-6.403-7.896-12.416-9.232-19.849-.798-4.442.601-10.77-.102-14.151M479.5 332.834c-7.649-5.003-9.772-23.391-7.334-31.333M502.166 322.834c-5.44-11.671-11.241-20.72-11.334-34M524.166 301.501c-8.454-5.687-19.242-16.025-18-27.333M547.5 283.501c-12.845-2.846-28.26-14.339-36-24.667M558.166 261.501c-9.266-1.987-39.883-13.932-38-26M568.166 238.168c-12.91-4.733-31.692-8.988-42-18M574.832 216.834c-8.132.696-19.782-3.241-28.047-4.667-9.178-1.583-17.688-4.676-26.619-6.667M566.832 196.168c-15.685.939-30.402-4.428-44.666-9.333"/></g><g fill="#107BD4" stroke="#107BD4" stroke-width=".101"><path d="M-1440.124 244.25c14.493-2.187 31.17-3.554 43.473 5.468 7.655 5.74 10.389 16.129 9.842 25.427.547 15.31-6.561 31.715-20.229 39.645-12.032 6.562-26.521 7.106-39.92 5.74-9.022-1.092-18.044-6.012-22.692-14.215-10.392-23.787 2.459-57.417 29.526-62.065zM-1873.753 261.475c.819-8.203 8.202-15.585 16.677-15.31 63.16 0 126.044.272 188.929 0 6.835-.547 14.218 2.459 17.497 8.474 4.647 8.203.547 17.225 0 25.702-1.912 11.481-1.367 26.794-14.762 31.167-45.934 1.367-91.868 0-137.802.547-4.374 28.98-8.475 57.688-12.851 86.396 0 1.094.275 3.557.275 4.647 33.629-.272 67.258 0 100.887-.272 9.297-.547 19.138 7.385 18.318 17.225-.819 10.117-3.007 19.959-4.373 30.076-1.096 6.834-6.563 13.123-13.672 14.49-37.458.82-75.463-.82-112.917.82-6.017 41.285-13.126 82.568-19.415 123.855-.818 8.203-7.382 15.311-15.584 15.582a1324.8 1324.8 0 0 1-46.752 0c-10.116.275-18.319-10.938-15.586-20.506 16.683-107.719 33.907-215.168 51.131-322.893zM-1595.969 246.709c14.219-1.092 28.708-.272 42.927-.544 8.75-.547 17.499 6.287 18.317 15.31 0 7.107-1.914 14.217-2.733 21.325-11.484 73.275-23.24 146.55-34.725 219.824-1.64 11.756-4.647 24.332-1.092 36.363 4.101 12.029 22.417 6.834 26.793 19.41 2.734 10.117-.275 20.779-1.095 31.17-.819 13.67-16.404 16.676-27.065 19.688-23.239 4.373-51.403 1.092-68.081-18.049-12.03-13.941-12.851-33.629-10.388-51.125 14.49-92.959 28.98-185.918 43.746-279.153.821-6.836 6.288-13.124 13.396-14.219zM-1053.248 261.475c.818-8.203 8.202-15.31 16.404-15.31h41.559c10.389-.275 18.867 10.936 16.405 20.777-9.569 60.698-19.411 121.396-28.98 182.09 14.49-2.186 30.896-4.92 41.012-16.676 16.949-19.141 30.896-41.283 41.284-64.523 3.553-9.024 5.468-22.147 17.225-23.788 15.585-.547 31.441-.274 47.026 0 10.664-.274 18.592 11.756 15.038 21.598-4.101 14.494-10.936 27.889-18.044 40.74-15.859 25.701-33.355 51.127-56.324 71.359 10.116 30.348 22.968 59.877 34.177 89.68 3.28 9.842 11.212 21.324 3.828 30.896-8.478 11.482-24.335 5.738-36.091 7.105-12.304-1.367-30.075 4.922-36.911-9.021-12.851-29.803-23.512-60.422-36.638-90.225-7.655.271-15.583.547-23.24-.273-.544 1.094-1.639 3.279-2.187 4.375-4.102 27.34-8.475 54.682-12.851 82.021-1.641 6.562-6.836 12.305-13.943 12.852-14.49.547-29.255.271-44.019.271-6.29 0-12.03-4.1-14.765-9.568-2.734-5.471-1.095-11.756-.271-17.771 16.949-105.537 33.627-211.074 50.306-316.609zM-293.44 291.277c1.915-7.658 9.295-12.851 16.953-12.579 10.937.275 22.146-.272 33.354.275 9.024.272 16.132 9.295 15.037 18.044-1.64 15.585-5.469 31.17-6.561 46.752 10.662 0 21.598-.272 32.262 0 9.57 0 17.5 9.844 15.858 19.138-1.368 8.479-3.282 16.682-4.649 25.154-1.367 7.111-7.38 12.852-14.215 13.945-13.125.82-25.974-.547-38.825.82-5.468 36.635-11.483 73.271-17.225 109.912-.822 8.475-1.367 18.043 3.554 25.426 7.383 9.023 20.231 5.74 30.623 6.836 8.202 2.459 13.396 11.484 12.028 19.688-1.367 9.293-1.64 18.59-3.826 27.611-3.281 10.115-15.038 12.031-24.062 14.49-24.88 6.564-53.588 6.564-75.732-7.928-20.505-13.945-23.788-41.012-21.601-63.979 5.74-44.293 14.766-88.311 19.686-132.877-7.655.272-16.952 1.367-22.692-5.469-6.562-6.834-3.281-16.951-2.188-25.429 1.642-9.022 1.367-20.778 11.211-25.7 7.927-3.009 16.952-.819 25.427-1.914 5.194-17.495 10.115-34.992 15.583-52.216zM-447.917 379.86c17.225-17.225 38.003-31.442 61.79-38.549 10.389-4.649 23.787 4.101 23.515 15.584-1.914 15.038-5.469 29.8-7.93 44.564-1.096 7.383-7.383 13.672-14.766 14.492-26.794 4.646-50.033 20.775-68.625 39.916-4.647 5.744-11.483 11.211-12.303 19.139-5.74 38.277-11.756 76.555-17.771 114.832-.819 8.201-7.931 16.133-16.405 15.586h-41.56c-9.568.547-18.043-9.021-16.95-18.592 12.03-75.736 24.062-151.195 35.817-226.932.547-7.654 6.016-15.036 13.943-15.857 10.117-.547 20.232-.274 30.623-.274 8.202 0 15.856 7.382 15.856 15.859 0 11.756-1.092 23.785-1.366 35.815 6.563-4.098 10.664-10.661 16.132-15.583zM-1469.926 345.137c14.764-3.006 30.075-.545 44.839-1.367 8.477-1.092 17.499 4.375 18.865 12.852 1.096 7.654-1.095 15.037-1.915 22.42-11.208 70.268-22.42 140.533-33.356 210.799-.82 7.932-7.379 15.859-15.857 15.584-14.763 0-29.528.275-44.564-.271-9.297-1.096-16.133-11.756-13.671-20.781 11.757-72.998 22.968-145.727 34.724-218.729.547-7.929 2.734-17.226 10.935-20.507zM-585.17 348.694c-40.739-7.658-82.295-13.126-123.582-9.025-36.91 4.649-74.094 21.328-96.785 51.676-31.443 39.917-42.107 93.507-35 143.269 3.83 23.785 14.218 47.846 33.632 62.609 18.044 13.945 42.378 15.857 64.252 12.303 30.619-6.016 56.593-25.697 77.921-47.572 1.092 9.295-1.095 18.592-.547 27.615.547 8.473 8.202 16.402 16.677 15.855h27.89c8.202 0 15.038-7.652 15.585-15.584 11.756-74.094 23.512-147.916 34.996-221.735 1.638-9.297-5.741-18.319-15.039-19.411zm-76.826 128.775c-10.938 20.506-26.25 39.098-43.475 54.953-9.841 8.203-22.42 16.68-35.814 13.947-13.125-2.734-19.414-16.404-22.42-28.162-6.835-30.621-.547-63.979 16.676-90.498 7.656-12.306 19.959-21.6 34.177-25.429 19.958-4.922 41.013-2.461 60.426 3.007l1.092 1.096c-2.46 23.785-7.109 47.299-10.662 71.086zM-1121.873 436.458c-.275-27.342-7.656-56.049-26.794-76.556-13.123-14.49-32.81-21.872-51.948-21.601-31.717-1.091-61.518 14.494-84.757 35.271-5.197 4.103-8.75 10.118-14.49 13.398 0-9.025.819-18.046.544-27.341.275-8.478-7.655-15.859-15.857-15.859h-27.889c-8.747 0-15.857 7.657-16.404 16.131-17.225 109.365-34.721 218.729-51.947 328.094-2.459 10.115 6.291 20.506 16.68 20.232 15.31-.273 30.895 1.094 45.932-1.096 12.031-3.281 11.756-17.225 13.671-27.34 4.373-24.061 7.383-48.121 10.116-72.455 53.862 10.389 116.473 3.283 156.664-37.457 32.808-35.814 48.118-85.302 46.479-133.421zm-76.555 27.613c-1.639 25.154-10.663 50.582-28.16 68.898-22.692 21.602-57.145 18.592-85.032 11.213-.544-.822-1.367-2.463-1.64-3.281 4.374-23.787 6.562-47.848 12.031-71.361 15.311-25.152 33.901-50.582 60.422-64.524 9.843-4.647 23.24-3.554 30.349 5.469 12.03 15.037 13.124 35.269 12.03 53.586z"/></g></svg>
              <h4 class="mt-3">FLIPKART</h4>
              <p class="mb-4 text-secondary">Books listed on Filpkart by Dinesh Sahay Author</p>
              <a href="https://www.flipkart.com/search?q=dinesh%20sahay&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off" class="fw-bold text-decoration-none link-primary">
                Click To Buy!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5 border border-3 border-dark-subtle rounded">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="60" viewBox="17.213 50.528 164.33 80.523"><path fill="#F0A749" d="M56.536 53.75c9.515-4.483 21.044-4.218 30.483.355 6.529 3.102 12.018 8.281 15.526 14.602-2.184 1.102-4.377 2.179-6.565 3.265-3.483-6.285-9.072-11.353-15.688-14.165-8.717-3.808-19.125-3.696-27.64.624-4.762 2.295-8.712 5.94-11.976 10.053 3.645-6.362 9.183-11.657 15.86-14.734z"/><path fill="#E15436" d="M49.824 73.363c4.625-7.18 12.753-12.195 21.41-12.109 8.702-.102 16.973 4.966 21.369 12.387-2.173 1.083-4.356 2.153-6.529 3.24-3.945-6.549-11.221-11.042-18.928-11.103-6.579-.265-12.819 2.944-17.322 7.585z"/><path fill="#191918" d="M30.77 69.519c13.464 6.752 26.939 13.479 40.414 20.212 13.469-6.732 26.944-13.459 40.414-20.202a674.788 674.788 0 0 0-.006 5.691 41128.771 41128.771 0 0 0-40.414 20.208A63378.021 63378.021 0 0 0 30.775 75.22c0-1.903 0-3.802-.005-5.701z"/><path fill="#84164D" d="M59.669 78.282c2.482-3.427 6.092-6.392 10.483-6.656 5.133-.533 9.952 2.615 12.566 6.875-2.167 1.097-4.351 2.168-6.519 3.26-2.025-3.072-5.239-5.575-9.017-5.794-2.725-.315-5.28.889-7.513 2.315z"/><path fill="#191918" d="M143.659 94.494c2.825.004 5.655.004 8.481 0-.005 11.936 0 23.873 0 35.808h-8.481c.004-11.936.004-23.872 0-35.808zM103.104 94.498c2.828 0 5.66.006 8.488 0a1399.25 1399.25 0 0 0 0 6.479c-2.833-.004-5.66 0-8.488 0 0-2.158.003-4.32 0-6.479zM45.239 104.281c2.828 0 5.656.006 8.489 0 .011 5.134-.035 10.271.016 15.404-.041 1.787.802 3.883 2.762 4.219 2.788.879 5.854-1.248 6.027-4.152.31-5.146.051-10.316.137-15.471 2.828.006 5.661.006 8.494 0v26.021h-8.245c.005-1.208.015-2.417.041-3.618-1.696 2.213-4.127 3.959-6.96 4.27-2.914.283-6.245-.193-8.336-2.442-1.899-2.112-2.321-5.087-2.407-7.819-.038-5.47-.002-10.937-.018-16.412zM103.104 104.281c2.828 0 5.66 0 8.488-.004-.005 8.676-.005 17.353 0 26.029-2.828-.006-5.66-.006-8.488-.006.003-8.67.003-17.347 0-26.019zM181.538 119.34c.075-4.07-.752-8.396-3.493-11.555-4.984-5.723-14.779-5.544-20.074-.34-5.382 5.035-5.463 14.516-.346 19.755 4.266 4.122 11.027 4.726 16.439 2.803 3.427-1.179 6.006-4.099 7.062-7.53-2.63-.024-5.256-.004-7.879-.01-1.764 3.199-6.58 3.816-9.154 1.305-1.229-1.133-1.496-2.849-1.843-4.391 6.43-.082 12.855-.012 19.288-.037zm-19.263-4.774c.427-1.258.787-2.612 1.722-3.608 1.69-1.944 4.951-2.33 6.944-.624 1.336 1.005 1.783 2.686 2.174 4.225-3.615.069-7.228.055-10.84.007zM91.456 94.498c.021 4.204-.046 8.408.041 12.611-3.179-4.117-9.571-4.713-13.673-1.682-3.178 2.352-4.656 6.383-4.839 10.227-.188 4.082.61 8.447 3.265 11.677 2.641 3.274 7.393 4.493 11.342 3.204 1.782-.569 3.107-1.944 4.311-3.307a195.957 195.957 0 0 0-.045 3.072c2.695.006 5.387 0 8.082.006.005-11.94-.005-23.877.005-35.813-2.833.011-5.661.005-8.489.005zm-.629 27.564c-1.203 2.797-5.362 3.34-7.408 1.191-1.756-1.919-2.086-4.706-1.939-7.197.132-2.211 1.041-4.709 3.193-5.668 2.132-.889 4.96-.214 6.016 1.965 1.453 2.982 1.442 6.678.138 9.709zM137.577 106.1c-4.007-3.746-11.146-3.416-14.49 1.066.065-4.225.009-8.449.035-12.668-2.833 0-5.661.006-8.483-.004.004 11.936.004 23.873 0 35.812 2.689-.005 5.381 0 8.077-.005-.016-1.021-.03-2.046-.051-3.065 1.283 1.445 2.731 2.889 4.66 3.41 3.524.98 7.614.098 10.245-2.498 2.904-2.854 3.986-7.062 4.057-11.021.092-3.981-1.051-8.251-4.05-11.027zm-4.546 12.641c-.229 1.727-.776 3.544-2.096 4.752-2.031 1.798-5.737 1.325-7.054-1.122-1.005-1.889-1.116-4.122-1.041-6.219.103-2.312 1.087-4.936 3.423-5.81 1.787-.659 4.077-.34 5.279 1.255 1.576 1.996 1.743 4.708 1.489 7.144zM42.604 117.146c-.142-3.03.483-6.274-.888-9.107-1.381-2.812-4.621-3.975-7.55-4.301-4.194-.406-8.793-.4-12.475 1.935-2.259 1.406-3.335 4.017-3.615 6.575 2.614.021 5.224 0 7.839.016.568-1.117 1.096-2.457 2.386-2.9 1.746-.577 3.889-.5 5.386.656 1.346.996 1.072 3.549-.669 3.93-3.757 1.011-7.809.803-11.434 2.355-2.071.827-3.899 2.604-4.229 4.879-.274 2.342-.299 5.017 1.315 6.916 1.97 2.451 5.356 3.127 8.347 2.902 2.787-.116 5.472-1.243 7.554-3.092.138.792.29 1.589.447 2.387 2.838.021 5.676-.016 8.514.025-1.481-4.229-.755-8.788-.928-13.176zm-9.189 6.827c-1.294 1.969-4.097 2.161-6.148 1.486-2.152-.809-2.219-4.205-.188-5.2 2.325-1.147 5-1.228 7.442-2.041-.136 1.934-.035 4.048-1.106 5.755z"/></svg>
              <h4 class="mt-3">AUDIOBOOKS</h4>
              <p class="mb-4 text-secondary">AUDIOBOOKS BY DINESH SAHAY</p>
              <a href="https://www.audible.com/pd/Can-I-Create-What-Stars-Cant-Foretell-Audiobook/B08XWMQQPQ?ipRedirectOverride=true&" class="fw-bold text-decoration-none link-primary">
                Click To Buy!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Book</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook1.jpg" alt="Sports">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <!-- <p class="text-secondary mb-1">Nov 11, 2022</p> -->
              <h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="https://www.amazon.in/Create-what-Stars-Cant-Foretell/dp/B08FJHYL6C/ref=sr_1_2?dchild=1&keywords=can+i+create+what+stars+cant+foretell+paperback&qid=1606998987&s=digital-text&sr=1-2">Can I Create what Stars Can’t Foretell?</a></h2>
              <p class="mb-4">Amazon: <span class="text-success fw-semibold">₹280</span></p>
              <a class="btn btn-warning" href="https://www.amazon.in/Create-what-Stars-Cant-Foretell/dp/B08FJHYL6C/ref=sr_1_2?dchild=1&keywords=can+i+create+what+stars+cant+foretell+paperback&qid=1606998987&s=digital-text&sr=1-2" target="_self">Click To Buy!</a>
              <p class="mt-3">Amazon kindle: <span class="text-success fw-semibold">₹164</span></p>
              <a class="btn btn-warning" href="https://www.amazon.in/Create-what-Stars-Cant-Foretell/dp/B08FJHYL6C/ref=sr_1_2?dchild=1&keywords=can+i+create+what+stars+cant+foretell+paperback&qid=1606998987&s=digital-text&sr=1-2" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Book</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook2.jpg" alt="Travel">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <p class="text-secondary mb-1">Oct 9, 2022</p>
              <h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="https://www.amazon.in/Miracles-Through-Eyes-DINESH-SAHAY/dp/9389482682/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-4">MIRACLES THROUGH MY EYES by Dinesh Sahay</a></h2>
              <p class="mb-4 fs-6 fw-semibold">The book, "Miracles Through My Eyes" is non-fiction. It's about my personal life experiences and my analysis of many events. I saw many Miracles through my eyes while leading life. I learned the art of creation while analysing minutely each event of life which was due to Cause and Effect Theory. Thereafter, I made a program, "Enlighten the Lamp of your Fortune" which became very popular among my friends and member, and I made experiments on many clients, members and friends which was very successful. Some of the Miraculous events and happening are mentioned in this book. I have explained how one can lead his life with pre-set goals and dreams within a time frame. The use of the Power of Mind and words are the tools described in the book. what are the do's and don'ts of the life of man? How to erase negativity from the mind? These are some of the features of this book. There is a lot of matter in the book which if followed properly, then one can make a 360-degree change in his life.</p>
              <p class="text-dark mt-2 ">Amazon: <span class="text-success fw-semibold">₹ 239</span></p>
              <a class="btn btn-warning" href="https://www.amazon.in/Miracles-Through-Eyes-DINESH-SAHAY/dp/9389482682/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-4" target="_self">Click To Buy!</a>
              <p class="text-dark mt-2 ">Amazon kindle: <span class="text-success fw-semibold">₹ 149</span></p>
              <a class="btn btn-warning" href="https://www.amazon.in/Miracles-Through-Eyes-DINESH-SAHAY-ebook/dp/B07ZJK4M4D/ref=sr_1_4?dchild=1&qid=1607326221&refinements=p_27%3ADinesh++Sahay&s=digital-text&sr=1-4&text=Dinesh++Sahay" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Photography</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook3.jpg" alt="Photography">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              
              <h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#!">The Power of Q analyse Youth Life Score and Assess Forthcoming Life</p>
                <p class="fs-6 fw-semibold mt-2">An author/mentor has to be honest, generous, bold, energetic, passionate, candid, authentic and devoted toward its reader or member or follower and I am following these principles in my life. I also felt that it is an honour to me that except for love from readers, members and followers, there is no other best gift for me. I am focused on listening to meaningful sincere communication of their concerns and responding to adequate mentoring with my followers or readers who put questions to me whenever I get time.</p>
                <p class="fs-6 fw-semibold mt-2">I wrote this book for readers to understand when they read, it will clear many misconceptions which is beneficial for them. It's better for every young man or woman whether a student, professional or businessman to understand the ethics of leading a peaceful, prosperous life. That is in their interest to know at an early stage what their forthcoming destiny would be like. It may be good or bad, and that will depend on your habits, behaviour, mindset, pre-set notions, etc. You can calculate it by doing a Self-analysis and then acting on it</p>
                <p class="fs-6 fw-semibold mt-2">I hope every reader will be interested and would like to do this exercise. I wish good luck to all my readers for a happy, healthy and peaceful life.</p>
                <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 280</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Power-Analyse-Youth-Assess-Forthcoming/dp/9390889782/" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Kindle edition: <span class="text-success fw-semibold">₹ 50</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Power-Analyse-Youth-Assess-Forthcoming-ebook/dp/B09KL29JRH/ref=sr_1_2?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-2" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Food</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook4.jpg" alt="Food">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">STORY OF UNBELIEVABLE MIRACLES OF LIFE by Dinesh Sahay</a></h2>
              <p class="mb-4 fw-semibold text-dark ">The book, "Story of Unbelievable Miracles of Life" Is non-fiction and written as a memoir. I want to share with readers some unforgettable stories of his life and the lives of many people who were with me during the course journey in life. With a lot of research on my life and on the lives of others, I evolved a program, “Enlighten the Lamp of your Fortune” which deals with the manifestation of dreams and goals its members have done this program under my guidance and have shared their experiences in this book also. They succeeded in achieving their dreams and the same stories are the main content of this book. Since I have mastered the art of creation while analysing minutely each event of life which was due to cause-and-effect theory by leading life’s ups and downs. I have explained how one can change his life and create what he wants by using of five senses in the right way. Everything is possible at any point in time if you know the art of leading a peaceful, healthy life of your choice. Read and learn how you can see immediate results as per the set target by reading the stories of members and me.</p>
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 255</span></p>
                <a class="btn btn-warning" href=" https://www.amazon.in/Story-Unbelievable-Miracles-Dinesh-Sahay/dp/8194681871/ref=sr_1_1?dchild=1&keywords=dinesh+sahay+paperback+book&qid=1607324386&s=digital-text&sr=1-1" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Google iBook: <span class="text-success fw-semibold">₹ 255</span></p>
                <a class="btn btn-warning" href="https://books.google.co.in/books/about?id=_mYLEAAAQBAJ&redir_esc=y" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
</section>

<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Book</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook5.jpg" alt="Sports">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">ENLIGHTEN THE LAMP OF YOUR FORTUNE by Dinesh Sahay</a></h2>
              <p class="mb-4 fw-semibold text-dark ">Learn how to create what you want in life through the art of creation in actual life through the right power of thought, power of spoken words, power of writing and by right targeted actions in the right time zones. See action in your life starting from the 3rd day onward in the direction of your dreams/wishes, in reality, depending on your mindset, pre-set notions, trust and faith in self, God, Mentor, Guru, and Coach. Yes, it is possible for every reader. </p>
              <p class="mb-4 fw-semibold text-dark ">Anything is possible at any point in time if one knows the positives of creation.
                You are the creator of your destiny stored for you by God. He releases it to you on demand through your thoughts and actions. It’s as simple as this. When you read this book and start the program and spare a few minutes each day while sitting at home or in the office or travelling in a plane or train or car you will see astonishing results in life subject to mindset.
              </p>
              <p class="mb-4 fw-semibold text-dark ">Corporate houses can increase their turnover to grow and expand their industry to greater heights and train their employees to achieve desired and targeted results as per pre-set deadlines.
              </p>
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 103.95</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Enlighten-Lamp-Your-Fortune/dp/1643249835/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-5" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Amazon Kindle:<span class="text-success fw-semibold">₹ 198</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Enlighten-Lamp-Your-Fortune-ebook/dp/B07GBF6PWG/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-5" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Travel</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook17.jpg" alt="Travel">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Mastishk aur Vicharo se Jeevan ki Rachna Kaise Kare?</a></h2>
              <p class="mb-4 fw-semibold text-dark ">"This Golden Book is not a story, novel or fiction, but a practical program to Fulfill Wish/Dream/Goa. The program, “Enlighten the Lamp of your Fortune” was created by the author Dinesh Sahay who is a mentor also (writer and consultant). This program mentioned in the book is based on the Mind's Miraculous Power, Power of Thoughts, Speaking Power and Right Targeted Actions. How can you get what you want in life? Read the method for Wish Fulfilment Program, “ENLIGHTEN THE LAMP OF YOUR FORTUNE” * by the miraculous power of the mind and also how to make 360-degree changes in life? God always fulfils all your wishes whatever you ask from Him. This program helps you to fulfil one's purpose in life in the form of your wish, desires, dreams, and goals as you design them in the present moments of your time. This program also provides solutions to your problems in day-to-day life. Uncover the lamp of your destiny and become "Creator through God with”." </p>
              
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 199</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Mastisk-Vicharo-Jivan-Rachna-Kaise/dp/9388797256/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-6" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Amazon Kindle:<span class="text-success fw-semibold">₹ 99</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Mastisk-Vicharo-Jivan-Rachna-Kaise-ebook/dp/B07RX58Y97/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-6" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Photography</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook7.jpg" alt="Photography">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">বাস্তব জীবনে করুন নিজের স্বপ্ন পূরণ   লিখেছেন দিনেশ সহায়</a></h2>
              <p class="text-dark fw-semibold mt-2"> (Fulfill Dreams in Real Life)</p>
              <p class="mb-4">Before the first photo was captured in the 18th century, lifelike images of what the eyes can see could only be made by talented artists.</p>
              <p class="text-dark mt-2 fs-6">Amazon :<span class="text-success fw-semibold">₹ 99</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Fulfill-Dreams-Real-Dinesh-Sahay/dp/9390889421/ref=sr_1_12?qid=1654365264&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-12" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Food</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook8.jpg" alt="Food">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Nature’s Wrath and end of the Era </a></h2>
              <a class="btn btn-warning" href="https://www.flipkart.com/search?q=natures+wrath+and+change+of+an+era+by+dinesh+sahay&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&as-pos=1&as-type=HISTORY" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>

<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Book</span>
                <img class="img-fluid rounded w-60 h-60 object-fit-cover " loading="lazy" src="/images/allset.jpg" alt="Sports">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">ART OF STAYING YOUNG WHILE GROWING OLD</a></h2>
              <p class="mb-4 fw-semibold text-dark ">When people grow old, they have to face many problems in life especially when they retire from service or business. How can they triumph over the day-to-day problems of old age? That’s what this book deals with, and may be an eye-opener for many such people, inspiring them to make a 360-degree change in their lives. The book also deals with the longevity of life. If proper care is taken right from a young age regarding health, thinking, environment and happiness index, then it will be easy to increase the longevity of life subject to precautions. Young people can begin and take charge of their lives by going through proper care of their bodies and mind which will surely benefit them in old age. They can take precautions right from the beginning and lead a peaceful, happy healthy and long life. The book deals with more Dos rather than Don’ts. With best wishes to the readers. " </p>
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 275</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Art-Staying-Young-While-Growing/dp/9388797957/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-7" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Amazon Kindle:<span class="text-success fw-semibold">₹ 99</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Art-Staying-Young-While-Growing-ebook/dp/B07ZRS9K4G/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1607326221&sr=1-7" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Travel</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook9.jpg" alt="Travel">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">JEEVAN KE KUCH ADBHUT PAL by Dinesh Sahay</a></h2>
              <p class="mb-4 fw-semibold text-dark ">यह पुस्तक सामान्य उपन्यास और संस्करण है जिसमें लेखक और उनसे जुड़े अनेक व्यक्तियों की अद्भुत घटनाएं और अनुभव हैं जो उनके करीबी थे और जो उनके कार्यक्रम, " Enlighten the Lamp of your Fortune " के जो सदस्य थे। यह पुस्तक जीवन के सच्ची चमत्कारी घटनाओं पर आधारित है और इस पुस्तक मैं बताया गया है कि जीवन की घटनाएं कैसे विचारों द्वारा घटित हो सकती है। किसी व्यक्ति के जीवन मैं क्या करना और क्या नहीं करना चाहिए और मन से नकारात्मकता को कैसे मिटाएंघ् इसे भी विस्तृत मैं लिखा गया है। यह पुस्तक आध्यात्मिक पुस्तक नहीं है और न ही किसी धर्म या आस्था का प्रचार करती है। लेकिनए यह पुस्तक इस बारे में है अवश्य ही है कि कोई भी व्यक्ति मस्तिष्क की अपार शक्ति और विचारए शब्द और सही कार्यों के माध्यम से कोई भी अपने जीवन को कैसे आगे बढ़ा सकता है। वह अपने जीवन मैं आमूल.चूल पर्वितन ला सकता है। लेखक ने अपने जीवन को किसी भी सामान्य व्यक्ति के रूप में जीते हुए अपने जीवन की हर महत्वपूर्ण या दुर्भाग्यपूर्ण घटना पर अतयंत निकट से इसे देखा हैए और दूसरों के जीवन में भी अपने कार्यक्रम को उनके अच्छे के लिए प्रयोग किया है। आपको ऐसे कई दिलचस्प घटनाएं मिलेंगी जो आश्चर्य और चमत्कार से भरे हुयी हैं।</p>
              
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 275</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Jeevan-Ke-Kuch-Adbhut-Pal/dp/B08SJKV68V/ref=sr_1_8?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-8" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Amazon Kindle:<span class="text-success fw-semibold">₹ 132</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Jeevan-Kuch-Adbhut-Pal-Hindi-ebook/dp/B08P61C2XC/ref=sr_1_1?dchild=1&keywords=jeevan+ke+kuch+adbhut+pal+by+dinesh+sahay&qid=1606721313&sr=8-1" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Photography</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook10.jpg" alt="Photography">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">முன்னறிவிக்க முடியாத நட்சத்திரங்களை என்னால் உருவாக்க முடியுமா?</a></h2>
              <p class="text-dark fw-semibold mt-2">Tamil version of book (Can I Create What Stars Can’t Foretell?) </p>
              <p class="mb-4">This book is a guide to solutions to day-to-day problems of life, such as marriage issues, partner selection, jobs, promotion, financial & expansion of business, wish/dream/goal manifestation etc. The book contains an actual program evolved by Dinesh Sahay author/mentor, “enlighten the lamp of your fortune*” for the manifestation of dreams. This programme can be done for a few minutes sitting in Office, at home, while travelling on a train, plane, or car and with any person can do this belonging to any religion, faith, race or region or country. One can build a millionaire consciousness and create life with the least effort and become rich and abundant. Learn how to create what you want in actual life. The ethics of art of creation of events by the power of mind & five senses and becoming the master. God is ever ready to fulfil your demands subject to universal rules.</p>
              <p class="text-dark mt-2 fs-6">Amazon :<span class="text-success fw-semibold">₹ 199</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Create-what-Stars-Foretell-Tamil/dp/8194681839/ref=sr_1_11?dchild=1&keywords=dinesh+sahay+paperback+book&qid=1607324386&s=digital-text&sr=1-11" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Amazon kindle :<span class="text-success fw-semibold">₹ 110</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Create-What-Stars-Foretell-Tamil-ebook/dp/B08JCSSNB2/ref=sr_1_2?dchild=1&qid=1607326221&refinements=p_27%3ADinesh++Sahay&s=digital-text&sr=1-2&text=Dinesh++Sahay" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Food</span>
                <img class="img-fluid rounded w-50 h-70 object-fit-cover " loading="lazy" src="/images/authorbook11.jpg" alt="Food">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Write Your Future Fantasy and Manifest Dreams Create Your Audio-Notebook Paperback – 1 January 2020</a></h2>
              <p class="text-dark mt-2 fs-6">Amazon kindle :<span class="text-success fw-semibold">₹ 80</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Future-Fantasy-Manifest-Dreams-Notebook-ebook/dp/B0B727KZBH/ref=sr_1_6?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-6" target="_self">Click To Buy!</a>
                <p class="text-dark mt-2 fs-6">Kindle for International readers                                  <span class="text-success fw-semibold">$ 0.98</span></p>
                <a class="btn btn-warning" href="https://www.amazon.com/Future-Fantasy-Manifest-Dreams-Notebook-ebook/dp/B0B727KZBH/ref=sr_1_1?crid=2YCO24MEKIRY1&keywords=Write+Your+Future+Fantasy+and+Manifest+Dreams+%28Create+your+Audio+Notebook%29&qid=1674069687&s=books&sprefix=write+your+future+fantasy+and+manifest+dreams+create+your+audio+notebook+%2Cstripbooks-intl-ship%2C1429&sr=1-1" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
</section>

<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Book</span>
                <img class="img-fluid rounded w-40 h-40 object-fit-cover " loading="lazy" src="/images/authorbook12.jpg" alt="Sports">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Apane Bhavishy Ko Likhen aur Sakar Karen Perfect Paperback – 12 December 2022</a></h2>
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 270</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Apane-Bhavishy-Likhen-Sakar-Karen/dp/9391176704/ref=sr_1_1?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-1" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Travel</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook13.jpg" alt="Travel">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">वर्तमान जीवन के विश्लेषण से आगामी जीवन जानें और भाग्य उदय करे</a></h2>
              <p class="mb-4 fw-semibold text-dark ">एक लेखक / संरक्षक को ईमानदार, उदार, साहसी, ऊर्जावान, भावुक, स्पष्टवादी, प्रामाणिक और अपने पाठक या सदस्य या अनुयायी के प्रति समर्पित होना चाहिए और मैं अपने जीवन में इन सिद्धांतों का पालन कर रहा हूं। मैंने यह भी अनुभव किया कि यह मेरे लिए सम्मान की बात है कि पाठकों, सदस्यों और अनुयायियों के प्रेम के अतिरिक्त मेरे लिए और कोई सबसे अच्छा उपहार नहीं है। मैं उनकी चिताओ के सार्थक ईमानदार संचार को सुनने और अपने अनुयायियों या पाठकों के साथ पर्याप्त सुझाव का उत्तर देने पर ध्यान केंद्रित कर रहा हूं, जो मुझे जब भी समय मिलता है तो मुझसे प्रसन्न करते हैं। मैंने यह पुस्तक पाठकों के लिए यह समझने के लिए लिखी है कि जब वे पढ़ेंगे तो यह कई भ्रांतियों को दूर कर देगा जो उनके लिए यह एक आदर्श और लाभदायक होगा। प्रत्येक युवा पुरुष या महिला के लिए बेहतर है कि वह एक छात्र, पेशेवर या व्यवसायी हो, शांतिपूर्ण, समृद्ध जीवन जीने की नैतिकता को समझे। प्रारंभिक अवस्था में यह जानना उनके हित में है कि उचित सेटिंग से उनका आने वाला भाग्य किस तरह से होगा। यह अच्छा या बुरा हो सकता है, यह आपकी आदतों, व्यवहार, मानसिकता, पूर्व-निर्धारित धारणाओं आदि पर निर्भर करेगा। आप आत्म-विश्लेषण करके और फिर उस पर कार्य करके इसकी गणना कर सकते हैं। मुझे आशा है कि प्रत्येक पाठक इसमें रुचि लेगा और इस अभ्यास को करना चाहेगा। मैं अपने सभी पाठकों के सुखी, स्वस्थ और शांतिपूर्ण जीवन की कामना करता हूं</p>
              
              <p class="text-dark mt-2 fs-6 ">Amazon: <span class="text-success fw-semibold">₹ 295</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/dp/9390889790?ref=myi_title_dp" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Photography</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook14.jpg" alt="Photography">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">प्रकृति का प्रकोप और युग परिवर्तन Perfect Paperback – 8 January 2023</a></h2>
              <p class="text-dark fw-semibold mt-2">Tamil version of book (Can I Create What Stars Can’t Foretell?) </p>
              <p class="mb-4">पुस्तक: प्रकृति का प्रकोप और युग परिवर्तन दिनेश सहाय लेखक और सलाहकार द्वारा यह पुस्तक उन सभी की स्मृति मैं लिखी गई है, जिन्होंने एक भीषण महामारी, एक घातक चीनी नोवेल कोरोना वायरस (कोविड-19) 2019 से 2021 तक अपनी प्राण गवाने पढ़ी और वैश्विक स्तर पर इसका प्रभाव और प्रसार जारी है। हम सभी दिवंगत आत्माओं के लिए प्रार्थना करते हैं और उन्हें इस ग्रह पर उनके योगदान के लिए याद करते हैं। हम उन कोरोना योद्धाओं, डॉक्टरों, नर्सों, अस्पताल के कर्मचारियों और स्वास्थ्य कर्मियों के लिए भी धन्यवाद और प्रार्थना करते हैं जिन्होंने कोविड -19 रोगियों को बचाने के लिए अथक प्रयास किया और अपनी जान गंवाई। इसमें बाबा नीव करोली के चमत्कार, महामारी के कारण, बढ़े राष्ट्रों और फार्मा कम्पनियों की राजनीती, बदलती नवीन विश्व व्यवस्था, भारत सरकार की भूमिका, पृथ्वी के बदलता स्वरूप, युग परिवर्तन और कलकी अवतार के विषय मैं पाठकों को पढ़ने हेतु बहुत कुछ है।</p>
              <p class="text-dark mt-2 fs-6">Amazon :<span class="text-success fw-semibold">₹ 275</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%95%E0%A5%83%E0%A4%A4%E0%A4%BF-%E0%A4%95%E0%A4%BE-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%95%E0%A5%8B%E0%A4%AA-%E0%A4%AF%E0%A5%81%E0%A4%97-%E0%A4%AA%E0%A4%B0%E0%A4%BF%E0%A4%B5%E0%A4%B0%E0%A5%8D%E0%A4%A4%E0%A4%A8/dp/B0BRZ7P228/ref=sr_1_10?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-10" target="_self">Click To Buy!</a>
                
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Food</span>
                <img class="img-fluid rounded w-50 h-70 object-fit-cover " loading="lazy" src="/images/authorbook15.jpg" alt="Food">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">A Yogi’s journey from Palace to Ashram</a></h2>
              <p class="mb-4">It is a true story about a person in the 1930s, who despite all the odds had struggled and led his life in a way that only a Yogi can do. The real story shows the path of living in a Vedic concept of life which is the ancient Sanatan Dharma dating back to 5,000 years old religion on this planet earth. The book shows how one can divide the whole life into four phases of the periods, and live life to the fullest. In the end, he may attain salvation and fulfil the ultimate purpose of life.</p>
              <p class="text-dark mt-2 fs-6">Amazon :<span class="text-success fw-semibold">₹ 199</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Yogis-Journey-Palace-Ashram/dp/B08TLZDKCV/ref=sr_1_11?crid=SUIE6K0H8G5X&keywords=books+by+dinesh+sahay&qid=1674070774&s=books&sprefix=books+by+dinesh+sahay%2Cstripbooks%2C371&sr=1-11" target="_self">Click To Buy!</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Photography</span>
                <img class="img-fluid rounded w-60 h-70 object-fit-cover mx-5" loading="lazy" src="/images/authorbook18.jpg" alt="Photography">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Vradh Hone Par Yuva Rahne ki Kala</a></h2>
              <p class="text-dark fw-semibold mt-2">Tamil version of book (Can I Create What Stars Can’t Foretell?) </p>
              <p class="mb-4">"जब लोग वृद्ध हो जाते हैं, तो उन्हें जीवन में कई समस्याओं का सामना करना पड़ता है, खासकर जब वे सेवा या व्यवसाय से सेवानिवृत्त होते हैं। वृद्धावस्था की दिक्कतों के लिए वे ऐसे दिनों से कैसे बाहर आ सकते हैं? यह पुस्तक इन विषयों से संबंधित है? यह पुस्तक ऐसे लोगों के लिए आंख खोलने वाली हो सकती है, और जो इस पुस्तक से प्रेरणा लेते है और वह पाठक अपने जीवन में ३६० डिग्री परिवर्तन कर सकते हैं। यह पुस्तक जीवन की लंबी उम्र से भी संबंधित है, और अगर स्वास्थ्य, सोच, पर्यावरण और खुशी के सूचकांक में युवा अवस्था से ही उचित देखभाल की जाती है, तो जीवन की आयु बढ़ सकती है।
                युवा लोग सामान्य रूप से इस मे दिया हुआ विवरण से शुरू कर सकते हैं अपने जीवन कि यात्रा और अपने जीवन का कार्यभार संभाल सकते हैं जिससे वे वृद्धावस्था में लाभान्वित होंगे । इसमें युवा वर्ग लिए भी बहुत कुछ लिखा है। युवा आरम्भ मैं ही सावधानी बरत सकते हैं और शांतिपूर्ण, खुशहाल और स्वस्थ जीवन जी सकते हैं। धन्यवाद ।"
                </p>
              <p class="text-dark mt-2 fs-6">Amazon :<span class="text-success fw-semibold">₹ 175</span></p>
                <a class="btn btn-warning" href="https://www.amazon.in/Vridh-Hone-Yuva-Rahne-Hindi-ebook/dp/B07ZRPD795/ref=sr_1_14?qid=1673597658&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-14" target="_self">Click To Buy!</a>
                
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>

<%- include('footer'); -%>

  <!-- books-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
