<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
</head>
<body>
  <div id="videocontainer">
    <video autoplay muted>
      <source src="/images/WhatsApp Video 2024-02-18 at 16.41.01_8d5f93f7.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div id="main">
    
    <%- include('nav'); -%>

    <!-- modals -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body fw-bold">
            Do you have a wish, dream or a goal or problem in your life?
                  Please click answer
          </div>
          <div class="modal-footer text-center mt-3">
            <button class="btn btn-success mr-2 px-4 py-2 " data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Yes</button>
            <button class="btn btn-danger mr-2 px-4 py-2" data-bs-dismiss="modal" aria-label="Close">No</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
              Please fill this format for registration as a member and to
              receive response from the Author Mentor Dinesh Sahay
            </h1>
          </div>
          <div class="modal-body">
            <form action="/wishform" method="post">
              <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-12">
                  <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="fullname" name="fullname3" value="" required>
                </div>
                <div class="col-12 col-md-6">
                  <label for="email" class="form-label">Sex <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="sex" name="sex3" value="" required>
                </div>
                <div class="col-12 col-md-6">
                    <label for="age" class="form-label">Age <span class="text-danger">*</span></label>
                      <input type="number" class="form-control" id="age" name="age3" value="" required>
                  </div>
                  <div class="col-12 col-md-6">
                      <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="city" name="city3" value="" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="state" class="form-label">State <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="state" name="state3" value="" required>
                      </div>
                      <div class="col-12 col-md-6">
                          <label for="country" class="form-label">Country <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="country" name="country3" value="" required>
                        </div>
                <div class="col-12 col-md-6">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                      </span>
                      <input type="email" class="form-control" id="email" name="email3" value="" required>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <div class="input-group">
                      <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                      </span>
                      <input type="tel" class="form-control" id="phone" name="phone3" value="">
                    </div>
                  </div>
                <div class="col-12">
                  <label for="message" class="form-label">Write your dream/wish of the problem briefly within 500 words and reply <span class="text-danger">*</span></label>
                  <textarea class="form-control" id="message" name="message3" rows="3" required></textarea>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured 1 - Bootstrap Brain Component -->
 <section class="py-3 py-md-5 py-xl-8 bg-light ">
  <div class="container">
    <article>
      <div class="card">
        <div class="row g-0">
          <div class="col-12 col-md-6 order-1 order-md-0 d-flex align-items-center">
            <div class="card-body p-md-4 p-xl-6 p-xxl-9">
              <div class="entry-header mb-3">
                <ul class="entry-meta list-unstyled d-flex ">
                  <li>
                    <h6 class="d-inline-flex px-2 py-1  text-danger border-primary-subtle rounded-2 text-decoration-none" >ॐ श्री गणेशायः नमः श्री लक्ष्मी प्रसन्न ओम गम गणपतियेः नमः</h6>
                  </li>
                </ul>
                <h6 class="card-title entry-title display-6 fw-bold mb-4 lh-1">
                  <a class="link-dark text-decoration-none" href="#!">FULFILL YOUR DREAM, WISH OR A GOAL OF YOUR LIFE & SOLVE PROBLEMS ON A PREDETERMINED DATE STARTING FROM 3 DAYS ONWARDS.</a>
                </h6>
              </div>
              <p class="card-text entry-summary text-secondary mb-4">
                DO YOU HAVE ANY WISH, DREAM OR A GOAL OR PROBLEM IN LIFE WHICH YOU WANT TO FULFILL OR SOLVE? JOIN- WISH FULFILLMENT PROGRAM (developed by award-winning author and mentor <span class="fw-bold text-dark">Mr Dinesh Sahay</span> )
              </p>
              <p class="card-text entry-summary text-danger mb-4">
                (WARNING - ONLY PERSONS WHO ARE MAJOR, 18 YEARS OR MORE AND NON-VIOLENT GO FOR THIS)
              </p>
              <p class="card-text entry-summary text-dark fw-bold mb-4">
                जीवन के लक्ष्य, इच्छाओं या सपनों को ३ दिन से आरम्भ करते हुए पूर्व निर्धारित तिथि मैं पूरा करें।* 
              </p>
              <p class="card-text entry-summary text-secondary  mb-4"> <span class="text-dark fw-bold">
                क्या आपके जीवन में कोई इच्छा, सपने अन्यथा समस्या है जो पूरा करने के इच्छुक है ? </span> तो इच्छा पूर्ति कार्यक्रम करें जिसे पुरस्कृत लेखक और मार्ग दर्शक श्री दिनेश सहाय द्वारा विकसित किया गया है। <span class="fw-bold text-danger">(चेतावनी-केवल वे व्यक्ति ही कर सकते है जो वयस्क, १८ वर्ष या उससे अधिक आयु और अहिंसक है )</span>   
              </p>
              <p class="card-text entry-summary text-warning fw-bold mb-4">
                *Terms, conditions, subject to mindset, riders, precautions apply.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex mt-3">
            <img
              class="img-fluid  object-fit-cover"
              loading="lazy"
              src="/images/book1.avif"
              alt="Entrepreneurship"
            />
          </div>
        </div>
      </div>
    </article>
  </div>
 </section>

   <!-- section2   -->
   <section class="py-3 py-md-5 mt-5 disnone" id="nav">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="/images/Picture1.jpg" alt="About 1">
          <h5 class="mt-4 text-secondary">A Practical Program, "ENLIGHTEN THE LAMP OF YOUR FORTUNE"</h5>
          <h5 class="mt-2 text-secondary">by Mentor & Award-Winning Author, <span class="fw-bold text-dark"> DINESH SAHAY </span>, Program evolved by his research & experience of 25 years</h5>
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">MANIFEST DREAMS/WISHES & SOLVE PROBLEMS Starting from 3rd DAY ONWARDS with a Pre-Set Date.</h2>
              <p class="mb-2">Anything visible in this Universe or World except 'Self' is Matter, and all actions and reflections are Material in Nature, but when one is connected within, the world comes to your knees automatically and brings prosperity. The Inaction and silence within us bring an action in life which is simple and... that’s it.</p>
              <p class="mb-2">Ancient Sage, Yogi Vashishtha said in our Hindu ancient scripture; "Fate or Destiny (Bhagya) is the invention of fools and does not exist. Whoever believes in it and is obsessed with divine fate, is the enemy of his soul. He perishes, destroying his good worth and prosperity".</p>
              <p class="mb-2"> You are the creator of your destiny which is stored for you by God. He releases all manifestation in your life on demand by your thoughts and actions..................... It’s as simple as... That's it.</p>
              <p class="mb-2"> Your destiny is locked between your past and present thoughts. It’s a fight between past thoughts and present ones. The thoughts that strive hard, win. Thoughts are manifested in one’s life accordingly, successfully or unsuccessfully.</p>
              <p class="mb-2">Search for Peace, Health, Happiness and Prosperity
                Anything is possible at any point in time by the Power of God within the self through thoughts, the five senses, spoken words, feelings and Karmas (actions). You can manifest whatever you wish in life; you are the creator through God within and by His grace. 
                </p>
                <h4 class="mb-3">You can....</h4>
              <div class="row gy-4 gy-md-0 gx-xxl-5X mt-1">
                <div class="col-12 col-md-6">
                    <div>
                      <p class="text-secondary mb-0">• Improve the quality of your life,</p>
                      <p class="text-secondary mb-0">• Change your behaviour,,</p>
                      <p class="text-secondary mb-0">• Change your personality</p>
                      <p class="text-secondary mb-0">•	Reduce your weight</p>
                      <p class="text-secondary mb-0">•	Become rich and abundant,</p>
                      <p class="text-secondary mb-0">•	Find a divine life partner,</p>
  
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div>
                      <p class="text-secondary mb-0">•	Make solutions to problems,</p>
                      <p class="text-secondary mb-0">•	Improve health,</p>
                      <p class="text-secondary mb-0">•	Overcome diseases,</p>
                      <p class="text-secondary mb-0">•	Search for peace and enlightenment,</p>
                      <p class="text-secondary mb-0">•	Worldly pleasures,</p>
                      <p class="text-secondary mb-0">•	Improve your professional life.</p>
                    </div>
                </div>
              </div>
              <h4 class="mt-3">Any wish can be fulfilled as per your wish/dream subject to mindset, riders, terms & conditions and conditions.</h4>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

    <!-- secton3  -->  
    <section class="bsb-cta-2 py-5">
  <div class="container">
    <div class="card border-0 rounded-3 overflow-hidden text-center bsb-overlay" style="background-image: url('/images/photo1.avif'); --bsb-overlay-opacity: .9; --bsb-overlay-bg-color:var(--bs-primary-rgb); background-position: center; background-size: cover;">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-10 col-xl-8 col-xxl-7">
            <h2 class="h3 mb-4 text-dark text-uppercase">Manifest Dreams/Wishes & Solve Problems with Pre-Set date & starting from 3rd Day Onwards</h2>
            <h6 class="text-dark mb-3">1. Do you have any Wish or a Dream or want to solve any problem in your life</h6>
            <h6 class="text-dark mb-3">2. Do you find difficulties in choosing a suitable life partner?</h6>
            <h6 class="text-dark mb-3">3. Do you have problems in your marital life?</h6>
            <h6 class="text-dark mb-3">4. Are you facing a problem in getting a suitable job?</h6>
            <h6 class="text-dark mb-3">5. Do you want to change to a better job profile with a handsome package?</h6>
            <h6 class="text-dark mb-3">6. Do you want to find a better future and life?</h6>
            <h6 class="text-dark mb-3">7. Do you have problems related to a job or business?</h6>
            <h6 class="text-dark mb-3">8. Do you wish to enhance or expand your business?</h6>
            <h6 class="text-dark mb-3">9. Are you getting losses in your organisation?</h6>
            <h6 class="text-dark mb-3">10. Do you have any wishes or dreams in your life?</h6>
            <a href="#!" class="btn btn-dark bsb-btn-3xl rounded mb-0 text-nowrap">Join</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </section>

    <!-- section3 -->
    <!-- FAQ 2 - Bootstrap Brain Component -->
<section class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12 col-lg-6">
        <h2 class="h5 mb-3 text-dark">The program of Wish Fulfilment, “Enlighten the Lamp of your Fortune” and "Make Your Dreams Come True" had been evolved by <span class="text-dark fw-bold">Dinesh Sahay</span></h2>
        <p class="lead fs-5 text-primary-emphasis mb-4">an award-winning, author & mentor 25 years back with a lot of research, experiments in his life, and in the lives of many people which produced astonishing results. He guided a great number of people, members and followers who had realised their dreams. He began guiding people through a website in the past, and he is continuing it. He has written 17 books to date and three audiobooks, some books are about his program, others on experiences of members who have done this program previously and for self-help.</p>
        <!-- <a href="#!" class="btn btn-lg bsb-btn-2xl btn-primary">All FAQ</a> -->
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Who can join & perform this Program?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Anyone can join this program under the guidance of Mentor & Author, Dinesh Sahay subject to riders, terms & conditions set to get the best results.</p>
                    <ul>
                      <li class="text-dark fw-bold">This program can only be performed by people of age 18 and above. He has to be an adult, a non-violent person</li>
                      <li class="text-dark fw-bold">He/she has to follow the program's pre-set rules and guided steps, and terms & conditions before proceeding with this program to get the best results. They are mentioned in the terms and conditions.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How does the program,"Enlighten the Lamp of your Fortune"undertaken by a member?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    It is a practical program which is so simple that you have to spare just a few minutes of your time from your busy schedule in the day in the four Time Zones and begin this program, "Enlighten the lamp of your Fortune"* while you are travelling in a car, train or a plane or during the office or at your home.
                  </div>
                  <div class="accordion-body">
                    You can observe the results rapidly on pre-set date from the 3rd day onwards towards your Wish/Dream/Goal/ or Solutions to your problems. You may get astonishing results even before a chosen date that you pre-set in your mind before the beginning of this program.
                  </div>
                  <div class="accordion-body">
                    This exercise is done in several steps before the actual program begins which you can understand while you register for membership and the program, <span class="fw-bold">"Enlighten the lamp of your Fortune" </span> 
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Know more about the Program?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    The program is simple to get what you wish in life, as God is forever ready to fulfil all your demands if you act as per His (God) commands. God wants you to follow the set rules as per the Universal laws of Nature that include so many wise qualities & actions during this program.
                  </div>
                  <div class="accordion-body">
                    Once you start this program of wish fulfilment, you will observe a change in your life starting from the 3rd day onward. Almost all my previous and current members have also felt such experiences that I have written about in my books, Miracles Through My Eyes, and The Story of Unbelievable Miracles of Life and Jeevan ke Kuch Adbhut Pal.
                  </div>
                  <div class="accordion-body text-danger">
                    (Please don't try this program for the sake of an experiment or trial because it will be a fantastic and astonishing experience for you once you start this. Perform this program only when you want a change in your life).
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- secton4 -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-dark text-uppercase fw-bold">More about the wish/dream fulfilment program...</h3>
        <!-- <h2 class="display-5 mb-4">At our core, we prioritize pushing boundaries, embracing the unknown, and fostering a culture of continuous learning.</h2> -->
        <!-- <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Connect Now</button> -->
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="/images/photo2.avif" class="img-fluid rounded-start" alt="Why Choose Us?">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h5 mb-3 ">HOW CAN YOU MANIFEST PEACE & PROSPERITY IN YOUR LIFE?</h2>
                <p class="card-text lead h6 fs-6">Peace comes within you when you do good actions for society, needy persons, the poor and the downtrodden. Service to mankind is the greatest action for peace. Please say repeatedly several times below the given autosuggestion with closed eyes and meditate for a few minutes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="/images/photo3.avif" class="img-fluid rounded-start" alt="Visionary Team">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3 text-secondary">Important Point</h2>
                <p class="card-text lead h6 fs-6 text-dark fw-bold">1. “Peace within me which is perfect, come forth and express through me".</p>
                <p class="card-text lead h6 fs-6 text-dark fw-bold">2. " Love within me which is perfect, come forth and express through me".</p>
                <p class="card-text lead h6 fs-6 text-dark fw-bold">3.  "Joy within me which is perfect, come forth and express through me".</p>
                <p class="card-text lead h6 fs-6 text-dark fw-bold">4. “Harmony within me which is perfect, come forth and express through me".</p>
                <p class="card-text lead h6 fs-6 text-dark fw-bold">5. "Success within me which is perfect, come forth and express through me".</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- section5 -->

    <!-- Call To Action 1 - Bootstrap Brain Component -->
<section class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('/images/photo4.avif'); background-position: center; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6 mt-4">
        <h3 class="text-white mb-4 fs-6 fw-light">I have mentioned below some affirmations which one can speak to self for several minutes as per your choice and see immediate results in life, however, you can buy any one of my books related to my program, “Enlighten the Lamp of your Fortune” * which are written in four languages about a Practical Wish Fulfillment Program for the manifestation of dreams or solutions to the problems of life. You may practically perform this program methodically sitting at home, in your office, moving in a car, plane or on a train wherever you are, and it requires a few minutes of your time only. Creation is very fast and mostly you may witness the action in your life starting 3rd day of this program after you begin by joining my program or reading my book several times available on Amazon, Google Play store, and Kobo Rakuten. Please register to become a member, and join my group on Whatsapp/Telegram as mentioned on this website. </h3>
        <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap mb-3">Join Us</a>
      </div>
    </div>
  </div>
</section>

<!-- section5 -->
<!-- Blog 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Peace</span>
                <img class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" src="/images/photo6.avif" alt="Sports">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <!-- <p class="text-secondary mb-1">Nov 11, 2022</p> -->
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Affirmation for overall peace and happiness;</a></h2>
              <p class="mb-2">“Peace be still, I am heir to the wealth of God. I have plenty to use and to share".</p>
              <p class="mb-2">"Peace be still, my mind is calm and receptive to the inspiration of God. He guides me and directs me".</p>
              <p class="mb-2">“Peace be still my body is relaxed; my mind is at peace. I am renewed, strengthen and healed"..</p>
              <!-- <a class="btn btn-primary" href="#!" target="_self">Read More</a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <a href="#!">
                <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Mentel Health</span>
                <img class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" src="/images/photo7.avif" alt="Travel">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <!-- <p class="text-secondary mb-1">Oct 9, 2022</p> -->
              <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">For prosperity</a></h2>
              <p class="mb-2">“God is my ever-flowing supplies; my life is filled with prosperity.”</p>
              <p class="mb-2">“Infinite spirits open the heaven’s treasury to me, and I use and share the wealth with all who are connected to me; I am abundant. Thank you.”</p>
              <p class="mb-2">“Infinite Spirit opens the way for my immediate supply and large sums of money come to me quickly under the grace in perfect ways. Thank you.”</p>
              <p class="mb-2">“Money comes to me quickly and effortlessly.”</p>

              <!-- <a class="btn btn-primary" href="#!" target="_self">Read More</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section6  -->
<section class="bsb-faq-3 py-3 py-md-5 py-xl-8">
  <!-- FAQs: My Account -->
  <div class="mb-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11 col-xl-10">
          <div class="accordion accordion-flush" id="faqAccount">
            <div class="accordion-item bg-transparent border-top border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading1">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse1" aria-expanded="false" aria-controls="faqAccountCollapse1">
                  How can you manifest what you wish in life? 
                </button>
              </h2>
              <div id="faqAccountCollapse1" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading1">
                <div class="accordion-body">
                  <p>Every event or happening in your life is created first within your mind, and you observe its manifestation on the outer platform of the world. That means you are the creator of all which is happening in your life by God’s grace. You demand and God commands and without Him nothing you can create. You receive things in your life on the merit of how you create them subject to riders which are set rules of the God or Nature or the Universe, such as love, sharing, service to humanity, kindness, trust, faith, your belief system, your will and your goal in life at a given point of time.</p>
                  <p>Whatever you ask from God whether good or bad, comes back to you exactly as you create within you by your thoughts, spoken words and actions.</p>
                  <p>You can manifest what you wish, provided you follow the rules one of which is that you ask God not only for yourself but also for others, and contribute a little to those who need it. God will ask you a question; why should He (God) gives if you do not share with others? The answer is simple, even if He gives you what you have asked for; it will be a bad creation. He will punish you if you don’t serve and share with others in many ways. Good creation will come to you automatically when you do good actions in life which please God.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading2">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse2" aria-expanded="false" aria-controls="faqAccountCollapse2">
                  How to find a universal change in your life?
                </button>
              </h2>
              <div id="faqAccountCollapse2" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading2">
                <div class="accordion-body">
                  <p>Life is ever-changing, so the Universe is ever-expanding, and nothing is static and fixed except God Himself. The Almighty wants you to lead a life without selfish ends, care for others, love others as they are, and love yourself as you are.</p>
                  <p> You must share or contribute some percentage of your income every month basis if salaried person, and if in business or Industry or a corporate then on annual basis for charitable causes. You can spend some and save some for your near and dears. That is the best way to pass the life cycle.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section7 -->
<!-- Hero 5 - Bootstrap Brain Component -->
<section class="bsb-hero-5 px-3 bsb-overlay" style="background-image: url('/images/photo8.avif'); background-position: center; background-size: cover;">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <p class="lead text-white text-center mt-5 d-flex justify-content-sm-center">
          <span class="col-12  fs-6 text-dark fw-bold">You must learn from your bad records and past mistakes of your past life, correct all and move forward. If you don't follow the rules of Nature/God or the Universe, you may create wealth but will not be sustainable and shall not enjoy life peacefully. Your life will be full of troubles and there will not be peace of mind and real happiness. If your mind is negative and you speak negatively always, you will surely create a negative life. You become what you speak and what you think and believe you create the same in life. Everything comes with God's grace, what you send to God through your subconscious mind, through five senses whether negative or positive or good or bad, comes back to you as you have created in the past. Whatever you create in your present moments is also manifested by God with riders of the Rules of Nature.
            Love is the major tool for creating a positive and good life, hate is a negative creation in life.
             Whatever signals or acts you send to others by way of thoughts or spoken words and through actions, everything comes back to you exactly as you send it, whether it is love, hate, money good actions or bad actions. So, whenever you give, you shall receive in multiplications. For the creation of good life, you have to create life as per his command. 
            There are several steps to make life peaceful and happy enfold the truth within yourself when you become a member and join my group and start my program, “Enlighten the lamp of your Fortune*”. <br>  <span class="text-warning">*Terms &conditions apply.</span> 
            </span>
        </p>
        <h3 class="text-dark text-center fw-bold ">Dinesh Sahay</h3>
        <h4 class="text-dark text-center fw-bold fs-6">Author, Mentor</h4>
        <h6 class="text-dark text-center fw-bold fs-6"> Email: <a href="" style="text-decoration: none;">dinesh.sahay1@gmail.com </a> <br> and <a href="" style="text-decoration: none;" >releasedreams75@gmail.com</a></h6>

      </div>
    </div>
  </div>
</section>

<!-- section7 card-->
<!-- Testimonial 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 fs-4 text-center">You can find his program with basic features in some of his books for the program, such as</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row justify-content-lg-around gy-5 gy-md-6">
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <a href="https://www.amazon.in/Create-what-Stars-Cant-Foretell/dp/B08FJHYL6C/ref=sr_1_3?qid=1673525635&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-3"><img class="img-fluid mb-2" loading="lazy" src="/images/amazonbook1.jpg" alt="Luna John - Marketer"></a>
          <p class="m-0 fw-bold">Can I Create What Stars Can't Foretell?</p>
          <p class="mb-2">Also available on Amazon, Flipkart, Google Play store and Rakuten Kobo etc</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <a href="https://www.amazon.in/Enlighten-Lamp-Your-Fortune/dp/1643249835/ref=sr_1_1?crid=3BZZWX9SL5AFA&dib=eyJ2IjoiMSJ9.G8SDAUNG2yKqGvU59SX2Xw.G88Ea4U0AonPXkNzWDxAyvzzLtEDt8OwKp7BYpa__Ds&dib_tag=se&keywords=Enlighten+the+Lamp+of+Your+Fortune*&qid=1708453621&s=books&sprefix=enlighten+the+lamp+of+your+fortune+%2Cstripbooks%2C263&sr=1-1"><img class="img-fluid mb-2" loading="lazy" src="/images/amazonbook2.jpg" alt="Mark Smith - Designer"></a>
          <p class="m-0 fw-bold">Enlighten the Lamp of Your Fortune*</p>
          <p class="mb-2">Also available on Amazon, Flipkart, Google Play store and Rakuten Kobo etc</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <a href="https://www.amazon.in/Mastisk-Vicharo-Jivan-Rachna-Kaise-ebook/dp/B07RX58Y97/ref=sr_1_15?qid=1673525635&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-15"><img class="img-fluid mb-2" loading="lazy" src="/images/amazonbook3.jpg" alt="Michael Wilson - SEO"></a>
          <p class="m-0 fw-bold">astishk aur Vicharo se Jeevan ki Rachna Kaise Kare?(Hindi) </p>
          <p class="mb-2">Also available on Amazon, Flipkart, Google Play store and Rakuten Kobo etc</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <a href="https://www.amazon.in/Create-what-Stars-Foretell-Tamil/dp/8194681839/ref=sr_1_9?qid=1673525635&refinements=p_27%3ADinesh+Sahay&s=books&sr=1-9"><img class="img-fluid mb-2" loading="lazy" src="/images/amazonbook3(Tamil).jpg" alt="Luke Reeves - Sales"> </a>
          <p class="m-0 fw-bold">astishk aur Vicharo se Jeevan ki Rachna Kaise Kare?(Tamil) </p>
          <p class="mb-2">Also in Bengali and Tamil languages are available on Amazon, Flipkart, Google Play store and Rakuten Kobo etc</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>


</div>

  <script>
  // Function to check if the modal should be shown
  window.onload = function() {
    var modalShown = localStorage.getItem("modalShown");
    if (!modalShown) {
      var firstModal = new bootstrap.Modal(document.getElementById("exampleModalToggle"));
      firstModal.show();
      localStorage.setItem("modalShown", true);
    }
  };
</script>


  </script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
