<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-color: #add8e6;">

    <%- include('nav'); -%>

    <style>
      @media screen and (max-width: 500px) {
        .headingwish{
          margin-top: 100px !important;
        }
        .logoimg{
          width: 50px !important;
          top: 11% !important;
          left: 82% !important;
        }
      }
    </style>
    <!-- Call To Action 3 - Bootstrap Brain Component -->
<section class="bsb-cta-3 py-5 py-xl-8" style="background-color: #add8e6;">
  <div class="container">
    <h1 class="text-center fw-bold fs-3 mt-4 headingwish">JOIN WISH FULFILMENT PROGRAM, “Enlighten the Lamp of your Fortune”</h1>
    <div class="row mt-5">
      <div class="col-12">
        <div class="container-fluid bg-light border shadow">
          <div class="row">
            <div class="col-12 col-md-6 p-0">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5 p-xl-8 mt-5">
                  <h4 class="fw-bold mb-4 text-uppercase">Is it possible....</h4>
                  <p class=" mb-xl-5 fw-bold" style="color: rgb(46, 46, 46);">Now it is possible to manifest what you want in life, and transform your dreams into reality through the program, <span class="text-danger fw-bold">"Enlighten the Lamp of Your Fortune" </span>, designed by Dinesh Sahay, Mentor & author using the Power of Mind, the Power of Thoughts & Spoken Words to fulfil your dreams.</p>
                  <p class="mb-xl-5 fw-bold" style="color: rgb(46, 46, 46);">The ancient sage, Yogi Vashishta said in our Hindu ancient scripture. <span class="text-primary">
                    "Fate or Destiny is the invention of fools and does not exist. Whoever believes in it and is obsessed with divine- fate, is the enemy of his soul. He perishes, destroying his good worth and prosperity"</span>.
                   </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 p-0 border-top border-bottom border-start">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5 p-xl-8 mt-5">
                  <h4 class="fw-bold mb-4 text-uppercase">Realise your dreams</h4>
                  <p class=" mb-xl-5 fw-bold" style="color: rgb(46, 46, 46);">You are the realise your dreams, and wishes and solve problems of life by God's grace. He releases all manifestation in your life on demand by thoughts and actions..................... It’s as simple as this your destiny is locked between your past and present thoughts. It is a fight between past thoughts and present ones. The thoughts that strive harder, win. Thoughts are manifested in one’s life successfully or unsuccessfully that depends on what you create in life through thoughts, words, the five senses and actions on the ground.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ 3 - Bootstrap Brain Component -->
<section class="bsb-faq-3 py-3 py-md-5 py-xl-8" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <p class=" text-center fw-bold">As you know every event in life, whether good or bad, is due to our past thoughts and actions. Let me put it in another way, please remember that every thought and spoken word is recorded in your subconscious mind which creates a related action in your life. This action is manifested by the Universe/nature/God as you have created in the past in a materialistic way (worldly) or spiritual way.</p>
          <p class="mb-5 text-center fw-bold">You can change your situation from unlucky to lucky and create what you want by changing your mindset. It is possible to change your mindset by practising the power of your mind, spoken words, actions, and thinking, through different procedures. This is what the program, <span class="text-danger fw-bold">“Enlighten the Lamp of your Fortune"</span>  is all about.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <!-- FAQs: My Account -->
    <div class="mb-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-xl-10">
            <div class="d-flex align-items-end mb-5">
              <i class="bi bi-person-gear me-3 lh-1 display-5"></i>
              <h3 class="m-0">Your Questions</h3>
            </div>
          </div>
          <div class="col-11 col-xl-10">
            <div class="accordion accordion-flush" id="faqAccount">
              <div class="accordion-item bg-transparent border-top border-bottom py-3">
                <h2 class="accordion-header" id="faqAccountHeading1">
                  <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse1" aria-expanded="false" aria-controls="faqAccountCollapse1">
                    Is this program time-consuming or carrying too much effort?
                  </button>
                </h2>
                <div id="faqAccountCollapse1" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading1">
                  <div class="accordion-body">
                    <p class="fw-bold">Not at all. You can begin this program for a few minutes each day while sitting in the office, at home or in a car, plane or moving on a train or wherever you are. All you need is to spare a few minutes of your busy time each day for wish fulfilment. You can either read the program book or join this program under the guidance of Sri Dinesh Sahay, mentor & author. This second option is available online depending on the plan you chose. Normally, you will get our guidance in silver or gold plans in the program. We will provide the program book in any plan that you select.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent border-bottom py-3">
                <h2 class="accordion-header" id="faqAccountHeading2">
                  <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse2" aria-expanded="false" aria-controls="faqAccountCollapse2">
                    What will happen as soon as you start the program?
                  </button>
                </h2>
                <div id="faqAccountCollapse2" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading2">
                  <div class="accordion-body fw-bold">
                    <p>You will observe some surprising events taking place in a few days when you start this program (in silver/gold plans only) that relate to your wish/dream. You will observe actions, activities, or events in a few days or may see them starting from 3rd day onward in the direction of your dreams/wishes during the program. You have to act on these developments to achieve your goals as and when you observe these events or happenings. The success of the program will depend on your mindset, trust and faith in yourself, your program and God, and your Mentor. The program is tested on many individuals and its success is unquestionable.</p> 
                    <p>Your Mentor is <span class="text-danger fw-bold">Mr Dinesh Sahay</span>, the author, and maker of the program/book,<span class="text-danger fw-bold">“Enlighten the Lamp of your Fortune”</span>. He will help and guide you about the Art of creation.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent border-bottom py-3">
                <h2 class="accordion-header" id="faqAccountHeading3">
                  <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse3" aria-expanded="false" aria-controls="faqAccountCollapse3">
                    Can this program help in business?
                  </button>
                </h2>
                <div id="faqAccountCollapse3" class="accordion-collapse collapse fw-bold" aria-labelledby="faqAccountHeading3">
                  <div class="accordion-body">
                    <p>Yes, You can increase your business turnover, expand your business and manifest your business dreams within a pre-set deadline. You can begin this program for a few minutes each day while sitting in the office, at home or in a car, plane or moving on a train or wherever you are. You may motivate your employees to work in the interest of the company. All you need is to spare a few minutes of your busy time each day for wish fulfilment. Before starting this program you can either read my books available on Amazon and Google Play stores or join this program under the guidance of Sri Dinesh Sahay, mentor & author. This second option is available by connecting with the mentor via mobile, WhatsApp, email conferencing, chats etc., as per the plan you chose. Normally, you will get our guidance in silver or gold plans in the program. We will provide the PDF of the Guidelines of the program in any plan that you select.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent border-bottom py-3">
                <h2 class="accordion-header" id="faqAccountHeading4">
                  <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse4" aria-expanded="false" aria-controls="faqAccountCollapse4">
                    How can you Enrol and join this program?
                  </button>
                </h2>
                <div id="faqAccountCollapse4" class="accordion-collapse collapse fw-bold" aria-labelledby="faqAccountHeading4">
                  <div class="accordion-body">
                    <p>Please choose any of the below-given plans below <span class="fw-bold text-warning"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Blog 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
    <div class="container overflow-hidden">
      <img src="/images/WhatsApp Image 2024-02-29 at 22.25.13_21a79271.jpg" class="card-img-top logoimg" style="width: 80px; position: absolute; top: 11%; left: 90%;" alt="...">
        <h1 class="fw-bold text-dark fs-4 text-center" >REGISTRATION CHARGES FOR MEMBERSHIP : <span class="text-success">199/-</span></h1>
      <a href="/memberform"><button class="btn btn-success fw-bold text-center" style="margin-left: 400px;">REGISTER AND BECOME MEMBER!</button></a>

      <div class="row gy-5 mt-4">
        <div class="col-12">
          <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
            <div class="col-xs-12 col-md-6">
              <div class="img-wrapper position-relative bsb-hover-push">
                <a href="#!">
                  <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Genral</span>
                  <img class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" src="/images/genral plan.png" alt="Sports">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div>
                <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">General Plan</a></h2>
                <p class="mb-2 fs-6 fw-semibold">In this plan, you will be sent complete details and guidelines of the program in a PDF format, and you have the option to write back your problem/wish/dream/goal to the mentor. The program is very simple, and you can complete it in a few minutes daily. You will witness from the third day onwards, some miraculous change of events that shall be in the direction of your dreams.
                </p>
                <p class="mb-2 fs-6 fw-semibold">You have to continue this program till you reach near to your wish or goal or achieve it. In case you fail that is because of your negative mindset then there can be delays till you make your mind in tune with what you want to wish or dream. Sometimes you are near to your dreams but fail in achieving them, my friend! here God has something better option for you that you may likely get sooner after completion of the program.
                </p>
                <!-- <p class="text-success mb-3">INR 1̶0̶0̶0̶  FREE</p> -->

                <a class="btn btn-primary" href="/memberform" target="_self">FILL FORM AND ENROLL</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
            <div class="col-xs-12 col-md-6">
              <div class="img-wrapper position-relative bsb-hover-push">
                <a href="#!">
                  <span class="badge rounded-pill text-bg-warning position-absolute top-0 end-0 m-3">Silver</span>
                  <img class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" src="/images/silver plan.png" alt="Travel">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div>
                <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Silver Plan</a></h2>
                <p class="mb-2 fs-6 fw-semibold">Here you will be sent complete details with the Program Book in PDF format, and you have an option to write back your problem/wish/goal/dream and receive guidance from the mentor. You have the option to interact on Mobile, telephone or chat/whats app/ by email.
                  The Silver plan is recommended for first-timers. Transform your dreams into reality in actual life under the guidance of the mentor, Dinesh Sahay or the experts. You can get guidance using available connectivity online. You can read his program books also written in four languages, available on Amazon, Google Play store, Flipkart, and Kobo Rakuten which shall give you a basic concept of the program. You can manifest what you want in life and by starting this program, you will observe actual creation starting from the 3rd day onward in the direction of your dreams, and the manifestation in time time-bound manner as per your mindset. The trust, and faith in the mentor, program is the primary thing that will ensure manifesting your dream fulfilment, subject to terms and conditions, riders and precautions.
                  </p>
                <!-- <p class="text-success mb-3">INR 2̶5̶0̶0̶. FREE</p> -->

                <a class="btn btn-primary" href="/memberform" target="_self">FILL FORM AND ENROLL</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
            <div class="col-xs-12 col-md-6">
              <div class="img-wrapper position-relative bsb-hover-push">
                <a href="#!">
                  <span class="badge rounded-pill text-bg-warning position-absolute top-0 start-0 m-3">Gold</span>
                  <img class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" src="/images/golden plan.png" alt="Photography">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div>
                <h2 class="h1 mb-3"><a class="link-dark text-decoration-none" href="#!">Gold Plan</a></h2>
                <p class="mb-4 fw-semibold">The Silver plan is recommended for first-timers under the guidance of mentor, Dinesh sahay and experts. Transform your dreams into reality in actual life.  You can get guidance using available connectivity online, mobile, WhatsApp app chats or email, video conferencing etc. You can read his program books also written in four languages, available on Amazon, Google Play store, Flipkart, and Kobo Rakuten which shall give a basic concept of the program. You can manifest what you want in life by starting this program in a time-bound manner with a definite date. You may observe actual creation starting from 3rd day onwards in the direction of your dreams, and the manifestation in time bound manner as per your mindset, trust and faith in this program, the mentor Dinesh Sahay, subject to terms and conditions, riders and precautions.
                </p>
                <!-- <p class="text-success mb-1">INR 3̶0̶0̶0̶. FREE</p> -->

                <a class="btn btn-primary" href="/memberform" target="_self">FILL FORM AND ENROLL</a>

  <a href="/terms" class="text-decoration-none text-dark fw-bold "><h4 class=" mt-4 fw-bold">Click to check the <span class="text-danger">Terms and Conditions*</span></h4></a>

              </div>
            </div>
          </div>
        </div>
  
        
      </div>
    </div>
  </section>

  </section>
    <!-- Author 2 - Bootstrap Brain Component -->
  <section class="bsb-author-2 py-3" style="background-color: #add8e6;">
    <div class="container">
        
      <div class="row justify-content-center mt-1">
        <div class="col-12 col-lg-10 col-xl-8 col-xxl-7">
          <div class="card border-light-subtle p-4">
            <div class="row gy-3 align-items-center">
              <div class="col-md-4">
                <a href="#!" class="bsb-hover-image d-block rounded overflow-hidden">
                  <img class="img-fluid author-avatar bsb-scale bsb-hover-scale-up" loading="lazy" src="/images/Picture1.jpg" alt="Iris Henry">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Article written by</h6> -->
                  <!-- <h3 class="card-title mb-2">
                    <a class="card-link link-dark text-decoration-none" href="#!">Iris Henry</a>
                  </h3> -->
                  <p class="card-text mb-3 fw-bold text-body-secondary">ओम  विश्वानि देव सवितदुरितानि परासुव यद्द्भदं तन्न आसुव।।
                    "हे सकल जगत के उत्पत्तिकर्ता समग्र ईश्वरयुक्त परमेश्वर!
                    हमारे संपूर्ण दुर्गंण , दिव्यसर्जन और दुखों को दूर कीजिये। 
                    जो कल्याणकारी गुण , कर्म , स्वाभाव और पदार्थ हैं उन्हें हमें प्रदान कराइये"।
                    सपनों को तीन दिन से आगे साकार होते देखें....</p>
                    <p class="card-text mb-3 fw-bold text-body-secondary">YOUR DREAMS COME TRUE IN 3 DAYS ONWARDS...</p>
                    <h6 class="card-subtitle mb-2 text-body-dark"> BY DINESH SAHAY- AUTHOR & MENTOR</h6>
                  <ul class="bsb-social-media nav m-0">
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.facebook.com/dineshsahayauthor/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-facebook" style="color: blue;" viewBox="0 0 16 16" >
                          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.youtube.com/@dineshsahay8342">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" style="color: red;" class="bi bi-youtube" viewBox="0 0 16 16">
                          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                        </svg>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.linkedin.com/in/dinesh-sahay-661a3133/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" style="color: rgb(6, 85, 255);" class="bi bi-linkedin" viewBox="0 0 16 16">
                          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.instagram.com/dineshsahay1?utm_source=qr&igsh=MTE2YW04d3A3cno2Mw==">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="32" height="32"><radialGradient id="yOrnnhliCrdS2gy~4tD8ma" cx="19.38" cy="42.035" r="44.899" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fd5"/><stop offset=".328" stop-color="#ff543f"/><stop offset=".348" stop-color="#fc5245"/><stop offset=".504" stop-color="#e64771"/><stop offset=".643" stop-color="#d53e91"/><stop offset=".761" stop-color="#cc39a4"/><stop offset=".841" stop-color="#c837ab"/></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8ma)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"/><radialGradient id="yOrnnhliCrdS2gy~4tD8mb" cx="11.786" cy="5.54" r="29.813" gradientTransform="matrix(1 0 0 .6663 0 1.849)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4168c9"/><stop offset=".999" stop-color="#4168c9" stop-opacity="0"/></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8mb)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"/><path fill="#fff" d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"/><circle cx="31.5" cy="16.5" r="1.5" fill="#fff"/><path fill="#fff" d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"/></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('footer'); -%>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>