<nav class="navbar navbar-expand-lg bg-success-subtle " style="position: fixed; width: 100%; z-index: 99999;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/" >Realise Dreams in 3 Days Onwards</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: rgb(230, 173, 30); font-weight: bold;"  aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: rgb(230, 173, 30); font-weight: bold;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Programs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="color: rgb(230, 173, 30); font-weight: bold;" href="/wishdreamform">WRITE YOUR WISH <br> DREAM-PROBLEM</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" style="color: rgb(230, 173, 30); font-weight: bold;" href="/memberform">REGISTER TO <br> BECOME A MEMBER</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" style="color: rgb(230, 173, 30); font-weight: bold;" href="/joinprogram">JOIN WISH <br> FULFILMENT PROGRAM</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(230, 173, 30); font-weight: bold;" href="/Books">BOOKS </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link " style="color: rgb(230, 173, 30); font-weight: bold;" aria-disabled="true" href="/about">ABOUT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " style="color: rgb(230, 173, 30); font-weight: bold;" aria-disabled="true" href="/review">REVIEWS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: rgb(230, 173, 30); font-weight: bold;" aria-disabled="true" href="/video">VIDEOS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: rgb(230, 173, 30); font-weight: bold;" aria-disabled="true" href="/findus">FIND US </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: rgb(230, 173, 30); font-weight: bold;" aria-disabled="true" href="/terms">T&C</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>