<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <%- include('nav')%>

    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8 mt-5" style="margin-top: 90px !important;">
                    <h3 class="fw-bold">TERMS & CONDITIONS, RIDERS, AND PRECAUTIONS</h3>
                    <p class="lead fw-semibold">Terms and conditions, riders, precautions and Programmer’s mindset:</p>
                    <ul>
                        <li>PROGRAM “Enlighten the Lamp of your Fortune” *Designed & prepared by Dinesh Sahay, an Author, Mentor (This program is copyrighted, and copying it or reproducing it in any format is illegal as per copyright terms.) </li>
                        <li>“This agreement is between the owners of the program/related books about, “Enlighten the Lamp of your Fortune” or “Can I Create what Stars can’t Foretell”, “Mastishk aur Vicharo se Jeevan ki Rachna Kaise Kare?”, Bengali and Tamil books, in the legal term is “Mentor” (Dinesh Sahay, an author, mentor, evolved & writer of program & books), and the person who is doing or undertaking this program or taking guidance is called “Programmer”. </li>
                        <li>The Programmer has read all terms and conditions and has agreed to these terms and conditions and other riders detailed below, by accepting here on the website link it is construed that the programmer has agreed to all of our terms and conditions including riders” of the program & website & its plans & membership.</li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
<hr>
                    <ol>
                        <li class="fw-semibold mb-3">This program can only be done by the Programmer if he/she is of age 18 years or above, is a non-violent person, not an atheist person, is not from a criminal background and have a clean image in society. </li>
                        <li class="fw-semibold mb-3">This program and its books deal with the Art of Creation and the manifestation of a dream, wish or goal or solution to individual problems of the person which is enfolded with the power of Mind, Thoughts, spoken words and right targeted actions on the ground. hence, the resultant outcome of the Programmer shall depend on his/her pre-set notions, the way completes his program with precautions, riders, nature and will & faith that he/she undertakes his course or guidance from the Mentor and his books. So its success will solely depend on the mental set-up, pre-set notions, individual nature and God’s will, His manifestation and also how committed he/she is to do this program. The mentor shall not be responsible personally or legally for the results obtained through this program and is not binding on him in any way.</li>
                        <li class="fw-semibold mb-3">Mentor cannot guarantee the program’s/book’s success which will depend on the programmer’s mindset and God’s will. However, if the Programmer conducts his program with faith, and trust in Him (God) and the Mentor he/she shall always have the best results in life.</li>
                        <li class="fw-semibold mb-3">The program/related books are to help people for the creation of positive lives, and good causes/charities, so part of the earnings and collection shall be utilised for charitable causes, hence the amount paid by any Programmer cannot be refunded in any circumstances. The Mentor is truly trying to help people who need help which may please be noted. Hence it will be difficult to refund but in an exceptional case where the Programmer needs it shall have to show genuine cause that money can be refunded with a maximum of 50% from case per case to case basis.</li>
                        <li class="fw-semibold mb-3">Any legal suits in any circumstances shall have to be in the jurisdiction of Faridabad city Haryana only, however, this website promotes through its program knowledge to people and guides them to use the mind power to manifest activity in individual life. So, a legal fight is of no use as the programmer shall negate his/her mind. </li>
                        <li class="fw-semibold mb-3"> The manifestation is a part of the mind and God’s will & grace, so the success of the program will depend on the will of God, and the Mentor, the owner of the program is only undertaking this program to help Programmer. The program is indicative only for making dreams possible which will depend on individual factors as described here in the terms and conditions and the website pages. The programmer has read all pages before he/she goes for this program, and it is construed that Programmer has accepted the credibility of the program and all terms & conditions of the website & program, “Enlighten the lamp of your Fortune” *.</li>
                        <li class="fw-semibold mb-3">In case of any bad event, loss or harm in physical, financial, personal and/or mental form this program and/or Mentor cannot be held responsible which may be due to any other reasons. The Mentor, program or website doesn’t take any responsibility under any circumstances in any eventuality, and for that, it is the responsibility of the Programmer. This program is done in all its positivity so any bad event cannot be due to this program in any way.</li>
                        <li class="fw-semibold mb-3">No compensation is paid to anyone or the programmer who is doing this program if anyone bears any loss, harm, or any bad event which is not in the interest of the programmer. They are not binding on the mentor, to pay anyone due to this cause. It is the sole responsibility of the programmer.</li>
                        <li class="fw-semibold mb-3">The programmer is solely responsible for the events related to or during the program. The role of the mentor is only to help and show direction and not the ultimate results which are the responsibility of the programmer, and his performance shall depend on how he conducts it, and other factors like God’s will, positivity trust etc. as given here in other conditions, terms & riders.</li>
                        <li class="fw-semibold mb-3">The programmer is not allowed to use this program method to harm anyone in any way. The programmer will ensure that this program is done for only good causes for his/her dreams manifestations, prosperity, and solution to problems and that in no way the programmer may use this program method to harm any person or persons which is barred under the terms of this agreement. If she/she does this activity against the terms, he/she may have to face harm in their life too. The programmer agrees not to do this program to harm anyone.</li>
                        <li class="fw-semibold mb-3">Violent persons and underage persons (below 18 years of age) are strictly disallowed to perform this program. If any such person does this program, he may have to suffer the ill effects and the Mentor is not responsible for it anyway.</li>
                        <li class="fw-semibold mb-3">This program is solely for the Programmer’s benefit and he/she takes full undertaking not to share or copy any part or full content from the website about the program while doing this and also after he/she completes it successfully. In case he uses any part or full of the content, copies or reproduces for business or promotion to others shall be liable to a legal suit to pay the charges which shall be solely decided by the legal means and the amount granted according to the judgement, he/she would have to pay to the Mentor.</li>
                        <li class="fw-semibold mb-3">The programmer shall follow the program strictly as per guidelines, program precautions, riders, terms and conditions and any deviation during the program he/she must connect with the Mentor for timely guidance to obtain successful results. But the Mentor should be informed for interaction upon mutual understanding. The Programmer, He/she must inform the mentor to interact with a suitable date and time and with due understanding as many may be on the chat board at the same time during the program. in any such cases, the mentor will inform his/her request shall depend on the availability of his time working with other persons in a queue and the on Chat, emails, video conference, telephone etc., hence programmer will have to wait for his turn and shall be informed accordingly.</li>
                        <li class="fw-semibold mb-3">The Programmer should not disrespect the mentor at any stage of the program. The programmer will have to maintain a cordial relationship with the mentor and should obey the instructions as per the program for making it a success and any deviation from this, such as misbehaving, use of bad language and disobeying the instructions of the mentor and as given in the program content. The mentor has a right to discard the programmer and stop giving help to him through emails, chat, video conferences, telephone or WhatsApp and personal interviews as per the plan for which has opted. The Programmer must maintain a cordial relationship with the mentor as he is a Teacher/Mentor/Guru/Coach and the Programmer is just like a student. It is construed that the programmer has agreed to these terms to maintain a cordial relationship while performing the program.</li>
                        <li class="fw-semibold mb-3">Mentor has every right to change, add or delete anything in the content of the website and the program at any point in time and shall not be liable to inform the programmer. The mentor is also not liable to reply to Programmer in event of such changes if any, and he should follow the instructions in the content and accept it. Mentor has every right to change or delete any part of the content for the benefit of the Programmer to get the best results and where the mentor thinks it is necessary to convey to the programmer which is the prerogative of the mentor.</li>
                        <li class="fw-semibold mb-3">The programmer shall have to maintain strict secrecy while doing the program to make it a success and should not discuss or reveal it to other persons, by revealing and discussing it with others may jeopardize the program and appropriate results cannot be achieved.</li>
                        <li class="fw-semibold mb-3">Wish fulfilment will depend on the patience of the programmer so the programmer has to wait for the time and pre-set date for the success of the program. The programmer should maintain it and should agree to this clause. The delays are sometimes the part of the program where one commits some mistake during the program. So, Programmers should consider it as learning towards the path of wisdom in life.</li>
                        <li class="fw-semibold mb-3">The programmer has to undertake all actions required on the actual ground to facilitate the program’s success and merely doing this program makes no sense in achieving the desired results, hence the programmer has to make all actions required in the direction of wish, dream, goal and solution to individual problems.</li>
                        <li class="fw-semibold mb-3">The Programmer who is reading my books or visiting the website or performing this program is solely responsible for its outcome as it will depend on this thinking, mindset and actions on the ground, and here, the Mentor is just helping him to fulfill his dreams.</li>
                        <li class="fw-semibold mb-3">Anyone copying it or making an identical program and putting it on the web is liable to be prosecuted and the Mentor could demand compensation from the court-settled amount under the country’s law or online legal cells/authorities.</li> 
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Author 2 - Bootstrap Brain Component -->
<section class="bsb-author-2 py-3 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 col-xxl-7">
          <div class="card border-light-subtle p-4">
            <div class="row gy-3 align-items-center">
              <div class="col-md-4">
                <a href="#!" class="bsb-hover-image d-block rounded overflow-hidden">
                  <img class="img-fluid author-avatar bsb-scale bsb-hover-scale-up" loading="lazy" src="/images/Picture1.jpg" alt="Iris Henry">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  
                  <h3 class="card-title">
                    <a class="card-link link-dark text-decoration-none fw-bold" href="#!">Dinesh Sahay</a>
                  </h3>
                  <h6 class="card-title text-dark fw-semibold">
                    (Kanpur/Faridabad)
                  </h6>
                  <h6 class="card-subtitle mb-2 text-body-dark">Mentor, author, Owner, Developer & Producer of the program & books</h6>
                  <h6 class="card-title h6">
                    <a class="card-link link-dark text-decoration-none fw-bold" href=" realisedreams75@gmail.com">Email: realisedreams75@gmail.com</a>
                  </h6>
                  <p class="card-text mb-3">Enlighten the Lamp of your Fortune.   17th January 2023. <br>
                    Faridabad Pin121002. (Haryana) India
                    </p>
                  <ul class="bsb-social-media nav m-0">
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.facebook.com/dineshsahayauthor/">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: blue;" width="22" height="22" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.youtube.com/@dineshsahay8342">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="color: red;" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                        </svg>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-dark" href="https://www.linkedin.com/in/dinesh-sahay-661a3133/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-linkedin" style="color: rgb(0, 115, 255);" viewBox="0 0 16 16">
                          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include('footer')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>