*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%; 
  background-color: #add8e6;
  color: #ffff;
}

#video-container{
  /* display: none; */
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  position: absolute;
}

#video-container>video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999999999;
  position: absolute;
}


.bookimages{
  /* margin-left: 340px; */
  margin-top: 50px;
}


#main{
  height: 100%;
  width: 100%;
  /* display: none; */
  background-color: #add8e6;
  
}

section{
  background-color: #add8e6;
}


@media screen and (max-width: 500px) {
  #video-container{
      position: relative;
      /* display: flex;
      align-items: center;
      justify-content: center; */
      z-index: 99999999;
      height: 100%;
      width: 100%;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  #video-container>video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      width: 100%;
      height: 30%;
  }

  .bookimages{
    margin-left: 5px;
    /* width: 80%; */
  }
}